<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4"><p>fds-input uden attributter</p></div>
        <div class="col-8"><fds-input></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4"><p>fds-input med indhold ved oprettelse</p></div>
        <div class="col-8"><fds-input label="Element havde indhold ved oprettelse" name="test-input">Test</fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4"><p>fds-input kun med name-attribut</p></div>
        <div class="col-8"><fds-input name="name-only"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4"><p>fds-input kun med label-attribut</p></div>
        <div class="col-8"><fds-input label="Kun label"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4"><p>fds-input med tom label-attribut</p></div>
        <div class="col-8"><fds-input label=""></fds-input></div>
    </div>
</main>