<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter, prefix og suffix</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Inputfelt med præfiks</div>
        <div class="col-8"><fds-input label="Skriv et spørgsmål" name="test-name" prefix="spm."></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Inputfelt med suffiks</div>
        <div class="col-8"><fds-input label="Skriv et spørgsmål" name="test-name" suffix="?"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Inputfelt med præfiks og suffiks</div>
        <div class="col-8"><fds-input label="Skriv et spørgsmål" name="test-name" prefix="spm." suffix="?"></fds-input></div>
    </div>
</main>