<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter, error</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Label, når der vises en fejlbesked</div>
        <div class="col-8"><fds-input label="En label" name="test-name" error="Dette er en fejlbesked"></fds-input></div>
    </div>
</main>