<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter, maxchar</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Karakterbegrænsning på 20 tegn</div>
        <div class="col-8"><fds-input label="En label" name="test-name" maxchar="20"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Tekst indtastet på forhånd</div>
        <div class="col-8"><fds-input label="En label" name="test-name" maxchar="20" value="Tekst i feltet"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Fejlbesked</div>
        <div class="col-8"><fds-input label="En label" name="test-name" maxchar="20" error="Fejlbesked"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Fejlbesked</div>
        <div class="col-8"><fds-input label="En label" name="test-name" maxchar="5" value="For mange tegn indtastet" error="Skriv max. 5 tegn"></fds-input></div>
    </div>
</main>