<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Ikoner</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-9">Icon attribute is valid ('close'): <fds-icon icon="close"></fds-icon></div>
        <div class="col-12 mb-9">Icon attribute is empty: <fds-icon icon=""></fds-icon></div>
        <div class="col-12 mb-9">Icon attribute is missing: <fds-icon></fds-icon></div>
        <div class="col-12 mb-9">Icon attribute is invalid ('asdf'): <fds-icon icon="asdf"></fds-icon></div>
    </div>
</main>