<fds-accordion-group heading-level="h3">

    <fds-accordion heading="Variant" variant-text="Information" variant-icon="info" heading-level="h3">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc34dc7782">
                <span class="accordion-title">Variant</span>
                <span class="accordion-icon">
                    <span class="icon_text">Information</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#info"></use></svg>
                </span>
            </button>
        </h3>
        <div class="accordion-content" id="acc34dc7782" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Succes" variant-icon="success" heading-level="h3">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc33dd59b0">
                <span class="accordion-title">Variant</span>
                <span class="accordion-icon">
                    <span class="icon_text">Succes</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#success"></use></svg>
                </span>
            </button>
        </h3>
        <div class="accordion-content" id="acc33dd59b0" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Advarsel" variant-icon="warning" heading-level="h3">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accd201f80d">
                <span class="accordion-title">Variant</span>
                <span class="accordion-icon">
                    <span class="icon_text">Advarsel</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#warning"></use></svg>
                </span>
            </button>
        </h3>
        <div class="accordion-content" id="accd201f80d" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Fejl" variant-icon="error" has-error="true" heading-level="h3">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc1cd4546e">
                <span class="accordion-title">Variant</span>
                <span class="accordion-icon">
                    <span class="icon_text">Fejl</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg>
                </span>
            </button>
        </h3>
        <div class="accordion-content" id="acc1cd4546e" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Tilgængelighed" variant-icon="accessibility-new" heading-level="h3">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce3595e24">
                <span class="accordion-title">Variant</span>
                <span class="accordion-icon">
                    <span class="icon_text">Tilgængelighed</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#accessibility-new"></use></svg>
                </span>
            </button>
        </h3>
        <div class="accordion-content" id="acce3595e24" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>

</fds-accordion-group>