{% from "components/form/controls/date-input.njk" import datoinput as datoinput %}

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-date-input-5</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Labels og værdier</p>
            {{
                datoinput({
                    "id": "date-example",
                    "legend": "Indtast en dato",
                    "labels": {
                        "day": "Day",
                        "month": "Month",
                        "year": "Year"
                    },
                    "values": {
                        "day": "23",
                        "month": "04",
                        "year": "2008"
                    }
                })
            }}
            {{
                datoinput({
                    "id": "date-example2",
                    "legend": "Indtast en dato",
                    "helptext": "Tester lange labels på inputfelter",
                    "labels": {
                        "day": "Herskaldagenskrives",
                        "month": "Herskalmånedenskrives",
                        "year": "Herskalåretskrives"
                    }
                })
            }}
            <div class="form-group">
                <fieldset aria-describedby="date-example2-hint ">
                    <legend class="form-label">
                        Indtast en dato
                    </legend>
                    <span class="form-hint" id="date-example2-hint">Tester lange labels på
                        inputfelter (med hjælpeklasser)</span>

                    <div class="date-group mt-3 d-block d-sm-flex">

                        <div class="form-group form-group-day">
                            <label class="form-label" for="date-example2-day">Herskaldagenskrives</label>

                            <input type="number" id="date-example2-day" class="form-input" required="">
                        </div>

                        <div class="form-group form-group-month mt-3">
                            <label class="form-label" for="date-example2-month">Herskalmånedenskrives</label>

                            <input type="number" id="date-example2-month" class="form-input" required="">
                        </div>

                        <div class="form-group form-group-year mt-3">
                            <label class="form-label" for="date-example2-year">Herskalåretskrives</label>

                            <input type="number" id="date-example2-year" class="form-input" required="">
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</main>