<fds-accordion heading="Dette er en accordion" content-id="acce01138131">
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc770e1be6">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc770e1be6" aria-hidden="true"></div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc54531694">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc54531694" aria-hidden="true">Tekst</div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc4953321a">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc4953321a" aria-hidden="true">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
                <span class="accordion-title">Dette er en accordion</span>
            </button>
        </h3>
        <div id="acce01138131" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </div>
</fds-accordion>