<fds-accordion heading="Dette er en accordion" content-id="acce01138131">
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accf441f384">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="accf441f384" aria-hidden="true"></div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc3a357069">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc3a357069" aria-hidden="true">Tekst</div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acca8bc74aa">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acca8bc74aa" aria-hidden="true">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
                <span class="accordion-title">Dette er en accordion</span>
            </button>
        </h3>
        <div id="acce01138131" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </div>
</fds-accordion>