<fds-accordion heading="Dette er en accordion" content-id="acce01138131">
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc4c5e098e">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc4c5e098e" aria-hidden="true"></div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc53f2b44c">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc53f2b44c" aria-hidden="true">Tekst</div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc24640f0f">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc24640f0f" aria-hidden="true">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
                <span class="accordion-title">Dette er en accordion</span>
            </button>
        </h3>
        <div id="acce01138131" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </div>
</fds-accordion>