<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Tom side til automatiske tests</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Denne side er efterladt tom til kørsel af automatiske tests.</p>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12" id="row-content"></div>
    </div>
</main>