{% for link in include.links %}
    {%- assign _link = nil %}

    {%- if link.href %}
        {%- assign _link = link.href %}
    {%- endif %}
        
    {%- if _link and _link != '' -%}
        {%- assign _page = _link | resolve_permalink %} {% comment %} ---- Get the page information for the link using resolve_permalink() ---- {% endcomment %}
        {%- assign _current = false %}
        {%- assign _active = false %}

        {%- comment %} 
        ---------------------------------------------------------------
        | Check whether the link matches the currently displayed page |
        --------------------------------------------------------------- 
        {%- endcomment %}

        {%- if page.url == _page.permalink -%}
            {%- assign _current = true %}
            {%- assign _active = true %}
        {%- endif %}

        {%- comment %} 
        --------------------------------------------------------------------------------------------------
        | Ensures first level links in mobile hierarchy are marked as active when a sublevel is selected |
        --------------------------------------------------------------------------------------------------
        {%- endcomment %}

        {%- if _page.category == page.category and _page.subcategory == nil -%}
            {%- assign _active = true %}
        {%- endif %}

        {%- comment %} 
        -------------------------------------------------------------------------------------------------------------
        | If the currently selected page is part of a submenu (i.e. it has a parentlink), mark the parent as active |
        -------------------------------------------------------------------------------------------------------------
        {%- endcomment %}

        {%- if page.parentlink == _page.permalink -%}
            {%- assign _active = true %}
        {%- endif %}

        {% if link.submenu %}
        <li>
            <fds-dropdown-menu expanded="{% if _active %}true{% else %}false{% endif %}">
                <button><span>{{ _page.title | smartify }}</span></button>
                <div>
                    <ul>
                        <li>
                            <a href="{{ _page.url | relative_url }}"{% if _current %} aria-current="page"{% endif %}>
                                <span>{{ _page.title | smartify }} <span class="helptext d-inline">(overblik)</span></span>
                            </a>
                        </li>
                        {% assign _sublinks = site.data.nav[link.submenu] %}
                        {% include nav/nav-mobile.html links=_sublinks %}
                    </ul>
                </div>
            </fds-dropdown-menu>
        </li>
        {% else %}
        <li>
            <a href="{{ _page.url | relative_url }}"{% if _current %} aria-current="page"{%- elsif _active %} aria-current="true"{% endif %}>
                <span>{{ _page.title | smartify }}{% if _page.title_en %} <span class="d-inline" lang="en">({{ _page.title_en | smartify }})</span>{% endif %}</span>
            </a>
        </li>
        {% endif %}

    {%- endif %}

{% endfor %}