{% for link in include.links %}

    {%- assign _page = nil -%}
    {%- assign _current = false -%}
    {%- assign _active = false -%}

    {%- if link.href -%}
        {%- assign _page = link.href | resolve_permalink -%} {%- comment -%} ---- Get the page information for the link using resolve_permalink() ---- {%- endcomment -%}
    {%- endif -%}

    {% if _page %}

        {%- comment -%} 
        ---------------------------------------------------------------
        | Check whether the link matches the currently displayed page |
        --------------------------------------------------------------- 
        {%- endcomment -%}

        {%- if page.url == _page.permalink -%}
            {%- assign _current = true -%}
            {%- assign _active = true -%}
        {%- endif -%}

        {%- comment -%} 
        -----------------------------------------------------------------------
        | Check whether the link is a subpage to the currently displayed page |
        ----------------------------------------------------------------------- 
        {%- endcomment -%}

        {%- if link.submenu -%}
            {%- if page.category == link.submenu -%}
                {%- assign _active = true -%}
            {%- endif -%}
        {%- endif -%}

        <li>
            <a href="{{ _page.url | relative_url }}"{% if _current %} aria-current="page"{%- elsif _active %} aria-current="true"{% endif %}>
                <span>{{ _page.title | smartify }}{% if _page.title_en %} <span class="d-inline" lang="en">({{ _page.title_en | smartify }})</span>{% endif %}</span>
            </a>
        </li>

    {% endif %}
  
{% endfor %}