<fds-modal id="fds-cookie-message" heading="Det Fælles Designsystem bruger cookies" heading-id="fds-cookie-message-heading" dismissible="false">
    <dialog>
        <form method="dialog">
            <div class="scrollable-area has-fade pb-0">
                <div class="modal-top"></div>
                <p>Vi indsamler statistik ved hjælp af tredjepartscookies til at forbedre brugeroplevelsen.</p>
                <p>Alle indsamlede data anonymiseres.</p>
                <p class="mb-0"><a href="/privatlivspolitik-cookies/">Læs mere om vores brug af cookies</a></p>
            </div>
            <div class="fixed-area">
                <div class="button-group">
                    <button class="button button-secondary cpAcceptBtn" type="submit" value="accept">Accepter cookies</button>
                    <button class="button button-secondary cpDontAcceptBtn" type="submit" value="reject">Nej til cookies</button>
                </div>
            </div>
        </form>
    </dialog>
</fds-modal>