{%- assign pageCategory = site.data.nav[page.category] -%}

<aside class="col-12 col-lg-3">
    <nav class="fds-side-menu d-none d-lg-block mb-4 mb-md-0" id="docs-sidenav" aria-label="Sidemenu">
        {% if pageCategory %}
        <ul>
            {%- for link in pageCategory -%}

            {%- assign _page = nil -%}

            {%- if link.href -%}
            {%- assign _page = link.href | resolve_permalink %} {% comment %} ---- Get the page information for the link using resolve_permalink()
            ---- {% endcomment %}
            {%- endif %}

            {%- if _page -%}
            {% assign _current = false %}

            {%- if _page.url == page.url %}
            {%- assign _current = true %}
            {%- endif %}
            <li>
                <a href="{{ _page.url | relative_url }}" {% if _current %} aria-current="page" {% endif %}>
                    <span>{{ _page.title | smartify }}
                        {% if _page.title_en %} <span class="d-inline" lang="en">({{ _page.title_en | smartify }})</span>{% endif %}
                        {% if _page.custom_element %} <svg class="icon-svg mb-1" focusable="false" aria-hidden="true">
                            <use href="#check"></use>
                        </svg>{% endif %}
                    </span>
                </a>

                {%- if link.submenu -%}

                {%- assign _sublinks = site.data.nav[link.submenu] %}

                {%- comment %}
                ------------------------------------------------------------------
                | If the currently selected page has a submenu, show the submenu |
                ------------------------------------------------------------------
                {%- endcomment %}

                {%- if _current and _sublinks -%}
                <ul>
                    {%- include nav/sidenavigation/list.html links=_sublinks %}
                </ul>
                {%- endif %}

                {%- comment %}
                ----------------------------------------------------------------------------------------------------
                | If the currently selected page is part of a submenu (i.e. it has a parentlink), show the submenu |
                ----------------------------------------------------------------------------------------------------
                {%- endcomment %}

                {% if page.parentlink == _page.url and _sublinks %}
                <ul>
                    {%- for sublink in _sublinks -%}

                    {%- assign _subpage = nil -%}

                    {%- if sublink.href -%}
                    {%- assign _subpage = sublink.href | resolve_permalink %} {% comment %} ---- Get the page information for the link using
                    resolve_permalink() ---- {% endcomment %}
                    {%- endif %}

                    {%- if _subpage -%}
                    {% assign _current = false %}
                    {%- if _subpage.url == page.url %}
                    {%- assign _current = true %}
                    {%- endif %}
                    <li>
                        <a href="{{ _subpage.url | relative_url }}" {% if _current %} aria-current="page" {% endif %}>
                            <span>{{ _subpage.title | smartify }}
                                {%- if _subpage.title_en -%} <span class="d-inline" lang="en">({{ _subpage.title_en | smartify }})</span>{%- endif -%}
                                {%- if _subpage.custom_element -%} <svg class="icon-svg mb-1" focusable="false" aria-hidden="true">
                                    <use href="#check"></use>
                                </svg>{%- endif -%}
                            </span>
                        </a>
                    </li>
                    {%- endif %}
                    {%- endfor %}
                </ul>
                {%- endif %}

                {%- endif %}

            </li>
            {%- endif %}

            {%- endfor %}
        </ul>
        {%- endif -%}
    </nav>
</aside>