<span class="hljs-tag">&lt;<span class="hljs-name">fds-tabs</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">fds-tab</span> <span class="hljs-attr">tab-key</span>=<span class="hljs-string">&quot;1&quot;</span>&gt;</span>Faneblad 1<span class="hljs-tag">&lt;/<span class="hljs-name">fds-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">fds-tab</span> <span class="hljs-attr">tab-key</span>=<span class="hljs-string">&quot;2&quot;</span>&gt;</span>Faneblad 2<span class="hljs-tag">&lt;/<span class="hljs-name">fds-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">fds-tab</span> <span class="hljs-attr">tab-key</span>=<span class="hljs-string">&quot;3&quot;</span>&gt;</span>Faneblad 3<span class="hljs-tag">&lt;/<span class="hljs-name">fds-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">fds-tab-panel</span> <span class="hljs-attr">tab-key</span>=<span class="hljs-string">&quot;1&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Indhold i første faneblad<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">fds-tab-panel</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">fds-tab-panel</span> <span class="hljs-attr">tab-key</span>=<span class="hljs-string">&quot;2&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Indhold i andet faneblad<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">fds-tab-panel</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">fds-tab-panel</span> <span class="hljs-attr">tab-key</span>=<span class="hljs-string">&quot;3&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Indhold i tredje faneblad<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">fds-tab-panel</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fds-tabs</span>&gt;</span>