<fds-radio-button-group>
    <fieldset aria-labelledby="legend-span-id">
        <legend>
            <span id="legend-span-id">Radioknapper </span>
            <fds-tooltip-icon tooltip-text="Dette er et tooltip" sr-label="Læs mere"></fds-tooltip-icon>
        </legend>
        <fds-radio-button>
            <input type="radio" name="radio-example" value="v1">
            <label>Valg 1</label>
        </fds-radio-button>
        <fds-radio-button>
            <input type="radio" name="radio-example" value="v2">
            <label>Valg 2</label>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>