<fds-input-wrapper input-maxwidth="xxs">
    <label>Inputfelt med attributten maxwidth="xxs" (8rem)</label>
    <input type="text" id="input-wrapper-text-xxs" name="input-wrapper-text-xxs">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="xs">
    <label>Inputfelt med attributten maxwidth="xs" (16rem)</label>
    <input type="text" id="input-wrapper-text-xs" name="input-wrapper-text-xs">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="s">
    <label>Inputfelt med attributten maxwidth="s" (24rem)</label>
    <input type="text" id="input-wrapper-text-s" name="input-wrapper-text-s">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="m">
    <label>Inputfelt med attributten maxwidth="m" (32rem)</label>
    <input type="text" id="input-wrapper-text-m" name="input-wrapper-text-m">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="l">
    <label>Inputfelt med attributten maxwidth="l" (40rem)</label>
    <input type="text" id="input-wrapper-text-l" name="input-wrapper-text-l">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="xl">
    <label>Inputfelt med attributten maxwidth="xl" (48rem)</label>
    <input type="text" id="input-wrapper-text-xl" name="input-wrapper-text-xl">
</fds-input-wrapper>