<fds-input-wrapper input-maxwidth="4">
    <label class="form-label" for="input-wrapper-text-4">Inputfelt med attributten maxwidth="4" (4 tegn)</label>
    <input type="text" id="input-wrapper-text-4" name="input-wrapper-text-4" class="form-input">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="8">
    <label class="form-label" for="input-wrapper-text-8">Inputfelt med attributten maxwidth="8" (8 tegn)</label>
    <input type="text" id="input-wrapper-text-8" name="input-wrapper-text-8" class="form-input">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="11">
    <label class="form-label" for="input-wrapper-text-11">Inputfelt med attributten maxwidth="11" (11 tegn)</label>
    <input type="text" id="input-wrapper-text-11" name="input-wrapper-text-11" class="form-input">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="27">
    <label class="form-label" for="input-wrapper-text-27">Inputfelt med attributten maxwidth="27" (27 tegn)</label>
    <input type="text" id="input-wrapper-text-27" name="input-wrapper-text-27" class="form-input">
</fds-input-wrapper>