<fds-error-summary auto="true"></fds-error-summary>

<fds-input-wrapper>
    <label>Fornavn</label>
    <input type="text" id="input-wrapper-error1" name="input-text1" required>
    <fds-error-message id="error77d50f12">Fornavn ikke indtastet</fds-error-message>
</fds-input-wrapper>

<fds-input-wrapper>
    <label>Efternavn</label>
    <input type="text" id="input-wrapper-error2" name="input-text2" required>
    <fds-error-message id="error77d50f13">Efternavn ikke indtastet</fds-error-message>
</fds-input-wrapper>