<fds-accordion-group heading-level="h6">
    <fds-accordion heading="Lorem ipsum dolor sit amet" content-id="accordion-error-1">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Consectetur adipiscing elit" content-id="accordion-error-2" variant-text="Fejl" variant-icon="error" has-error="true">
        <div>
            <fds-alert variant="error">
                <p slot="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            </fds-alert>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Sed do eiusmod tempor" content-id="accordion-error-3">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Labore et dolore magna" content-id="accordion-error-4">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
</fds-accordion-group>