<fds-radio-button-group group-label="Radioknapgruppe med skjult indhold">
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v1" id="radio-button-collapse1">
        <label>Vis indhold 1</label>
        <div class="radio-content">
            <fds-input-wrapper>
                <label class="form-label">Skjult inputfelt</label>
                <input type="text" name="input-wrapper-collapse">
            </fds-input-wrapper>
        </div>
    </fds-radio-button>
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v2" id="radio-button-collapse2">
        <label>Vis indhold 2</label>
        <div class="radio-content">
            <span>Skjult tekst</span>
        </div>
    </fds-radio-button>
</fds-radio-button-group>