<fds-radio-button-group group-label="Simpel radioknapgruppe">
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v1" id="rad88bb6d70">
        <label>Radioknap 1</label>
    </fds-radio-button>
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v2" id="radad9bcfd4">
        <label>Radioknap 2</label>
    </fds-radio-button>
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v3" id="radd535ed7b">
         <label>Radioknap 3</label>
    </fds-radio-button>
</fds-radio-button-group>