<fds-accordion heading="Dette er en accordion" content-id="acce01138131">
    <p>Her er en paragraf inde i accordionen.</p>
</fds-accordion>

<fds-accordion></fds-accordion>

<fds-accordion>Tekst</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>