<fds-date-input>
    <fieldset disabled>
        <legend>Indtast dato</legend>
        <div>
            <div data-attribute="day">
                <label>Dag</label>
                <input name="day" id="dat-day-4782dcc3">
            </div>
            <div data-attribute="month">
                <label>Måned</label>
                <input name="month" id="dat-month-6ddc63c0">
            </div>
            <div data-attribute="year">
                <label>År</label>
                <input name="year" id="dat-year-b579da81">
            </div>
        </div>
    </fieldset>
</fds-date-input>