<div class="header">
    <fds-portal-info>
        <a slot="logo" href="#" target="_blank"><img id="example-header-logo" src="/assets/img/logo_virk.svg" alt="Portalnavn"></a>
        <fds-drawer-opener slot="drawer-opener" drawer="drawer-example-default" class="d-block d-lg-none"></fds-drawer-opener>
        <button slot="log-off-button">
            <svg class="icon-svg" focusable="false" aria-hidden="true">
                <use href="#lock"></use>
            </svg>Log af
        </button>
        <p slot="user">Anders Andersen, Forsikringens Forsikringsfirma</p>
    </fds-portal-info>

    <fds-solution-info>
        <a slot="solution-heading" href="javascript:void(0);">Løsningstitel</a>
        <p slot="additional-info" class="d-none d-lg-block">
            <strong class="authority-name">Myndighedsnavn</strong>
            <span>Support: 12 34 56 78</span>
        </p>
    </fds-solution-info>

    <fds-main-menu>
        <div class="main-menu-inner d-block d-lg-flex">
            <nav aria-label="Eksemplets hovedmenu" class="d-none d-lg-block">
                <ul>
                    <li>
                        <fds-dropdown-menu expanded="false">
                            <button><span>Første menupunkt</span></button>
                            <div>
                                <ul>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                </ul>
                            </div>
                        </fds-dropdown-menu>
                    </li>
                    <li><a href="javascript:void(0);"><span>Andet menupunkt</span></a></li>
                    <li>
                        <fds-dropdown-menu expanded="false">
                            <button><span>Tredje menupunkt</span></button>
                            <div>
                                <ul>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    <li><a href="javascript:void(0);" aria-current="page"><span>Undermenu</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                </ul>
                            </div>
                        </fds-dropdown-menu>
                    </li>
                    <li><a href="javascript:void(0);"><span>Fjerde menupunkt</span></a></li>
                    <li>
                        <fds-dropdown-menu expanded="false">
                            <button><span>Femte menupunkt</span></button>
                            <div>
                                <ul>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                </ul>
                            </div>
                        </fds-dropdown-menu>
                    </li>
                </ul>
            </nav>

            <div class="search-form">
                <div class="form-group search">
                    <input class="form-input" id="header-search" name="header-search" type="search" aria-label="Søg efter indhold">
                    <button class="button button-search">Søg</button>
                </div>
            </div>

        </div>
    </fds-main-menu>

    <fds-drawer id="drawer-example-default" class="d-block d-lg-none" heading-id="hea28e31cf7">
        <div class="mobile-drawer">

            <fds-main-menu>
                <nav aria-label="Eksemplets mobilmenu">
                    <ul>
                        <li>
                            <fds-dropdown-menu expanded="false">
                                <button><span>Første menupunkt</span></button>
                                <div>
                                    <ul>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    </ul>
                                </div>
                            </fds-dropdown-menu>
                        </li>
                        <li><a href="javascript:void(0);"><span>Andet menupunkt</span></a></li>
                        <li>
                            <fds-dropdown-menu expanded="false">
                                <button><span>Tredje menupunkt</span></button>
                                <div>
                                    <ul>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                        <li><a href="javascript:void(0);" aria-current="page"><span>Undermenu</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    </ul>
                                </div>
                            </fds-dropdown-menu>
                        </li>
                        <li><a href="javascript:void(0);"><span>Fjerde menupunkt</span></a></li>
                        <li>
                            <fds-dropdown-menu expanded="false">
                                <button><span>Femte menupunkt</span></button>
                                <div>
                                    <ul>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Undermenu</span></a></li>
                                    </ul>
                                </div>
                            </fds-dropdown-menu>
                        </li>
                    </ul>
                </nav>
            </fds-main-menu>

            <fds-solution-info>
                <p slot="additional-info">
                    <strong class="authority-name">Myndighedsnavn</strong>
                    <span>Support: 12 34 56 78</span>
                </p>
            </fds-solution-info>

            <fds-portal-info>
                <button slot="log-off-button">
                    <svg class="icon-svg" focusable="false" aria-hidden="true">
                        <use href="#lock"></use>
                    </svg>Log af
                </button>
                <p slot="user"><span class="mb-3">Anders Andersen</span><span>Forsikringens Forsikringsfirma</span></p>
            </fds-portal-info>

        </div>
    </fds-drawer>
</div>