<fds-accordion-group heading-level="h3">

    <fds-accordion heading="Variant" variant-text="Information" variant-icon="info">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Succes" variant-icon="success">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Advarsel" variant-icon="warning">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Fejl" variant-icon="error" has-error="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

    <fds-accordion heading="Variant" variant-text="Tilgængelighed" variant-icon="accessibility-new">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

</fds-accordion-group>