<fds-checkbox-group group-label="Group label">
    <fds-help-text>Dette er en hjælpetekst</fds-help-text>
    <fds-checkbox>
        <input type="checkbox" name="checkbox-example" value="v1">
        <label>Første tjekboks</label>
    </fds-checkbox>
    <fds-checkbox>
        <input type="checkbox" name="checkbox-example2" value="v2"/>
        <label>Anden tjekboks</label>
    </fds-checkbox>
    <fds-checkbox>
        <input type="checkbox" name="checkbox-example3" value="v3"/>
        <label>Tredje tjekboks</label>
    </fds-checkbox>
</fds-checkbox-group>
