<fds-input-wrapper input-indicator>
    <label>Label</label>
    <input type="text" id="input-wrapper-mandatory1" name="input-wrapper-mandatory1" required>
</fds-input-wrapper>

<fds-input-wrapper input-indicator>
    <label>Label</label>
    <input type="text" id="input-wrapper-optional1" name="input-wrapper-optional1">
</fds-input-wrapper>

<fds-input-wrapper input-indicator="Custom required label">
    <label>Label</label>
    <input type="text" id="input-wrapper-mandatory2" name="input-wrapper-mandatory2" required>
</fds-input-wrapper>

<fds-input-wrapper input-indicator="Custom optional label">
    <label>Label</label>
    <input type="text" id="input-wrapper-optional2" name="input-wrapper-optional2">
</fds-input-wrapper>