<fds-alert variant="info">
    <h2 slot="heading">Informativ besked</h2>
    <p slot="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
</fds-alert>

<fds-alert variant="success">
    <h2 slot="heading">Succesmeddelelse</h2>
    <p slot="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
</fds-alert>

<fds-alert variant="warning">
    <h2 slot="heading">Advarsel</h2>
    <p slot="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
</fds-alert>

<fds-alert variant="error">
    <h2 slot="heading">Fejlbesked</h2>
    <p slot="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
</fds-alert>