<div class="d-flex">
    <fds-date-picker class="mr-4">
        <label>Startdato</label>
        <div>
            <input type="text" name="input-text" id="ce-datepicker-example-startdate">
            <div><fds-date-picker-grid id="startdate-date-picker" start-date-id="start-end-example1"></fds-date-picker-grid></div>
        </div>
    </fds-date-picker>
    <fds-date-picker class="mt-0">
        <label>Slutdato</label>
        <div>
            <input type="text" name="input-text" id="ce-datepicker-example-enddate">
            <div><fds-date-picker-grid id="enddate-date-picker" end-date-id="start-end-example1"></fds-date-picker-grid></div>
        </div>
    </fds-date-picker>
</div>