<fds-date-input>
    <fieldset>
        <legend>Indtast dato</legend>
        <div>
            <div data-attribute="day">
                <label>Dag</label>
                <input name="day" id="dat-day-450e93ab">
            </div>
            <div data-attribute="month">
                <label>Måned</label>
                <input name="month" id="dat-month-bc1fc9e8">
            </div>
            <div data-attribute="year">
                <label>År</label>
                <input name="year" id="dat-year-4783fc19">
            </div>
        </div>
        <fds-error-message id="errore8d9ef0e">Der er sket en fejl</fds-error-message>
    </fieldset>
</fds-date-input>

<fds-date-input>
    <fieldset>
        <legend>Indtast dato</legend>
        <div>
            <div data-attribute="day">
                <label>Dag</label>
                <input name="day" id="dat-day-1ab610af">
            </div>
            <div data-attribute="month">
                <label>Måned</label>
                <input name="month" id="dat-month-2b9149d1">
            </div>
            <div data-attribute="year">
                <label>År</label>
                <input name="year" id="dat-year-5572ff30">
            </div>
        </div>
        <fds-error-message targets="day, year" id="errorcafee2aa">Fejl i indtastet dag og år</fds-error-message>
    </fieldset>
</fds-date-input>