<fds-radio-button-group group-label="Simpel radioknapgruppe">
    <fds-help-text>Hjælpetekst til radioknapgruppen</fds-help-text>
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v1" id="radio-button1-helptext">
        <label>Radioknap 1</label>
    </fds-radio-button>
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v2" id="radio-button2-helptext">
        <label>Radioknap 2</label>
    </fds-radio-button>
    <fds-radio-button>
        <input type="radio" name="radio-example" value="v3" id="radio-button3-helptext">
        <label>Radioknap 3</label>
    </fds-radio-button>
</fds-radio-button-group>