<fds-upload-file id="upload-file-always-error">
    <label>Alle filer vedhæftet vil få en fejl</label>
    <input type="file" name="documentation" id="upload-file-always-error-input" multiple>
</fds-upload-file>

<script>
    const uploadElement = document.getElementById('upload-file-always-error');

    uploadElement.addEventListener('files-added', () => {
        const files = uploadElement.getFiles();
        const lastFile = files[files.length - 1];
        uploadElement.addError('Denne fil har en fejlbesked', lastFile.id);
    });
</script>
