<fds-accordion-group heading-level="h3">

    <fds-accordion heading="Variant" content-id="acce08131" variant-text="Information" variant-icon="info">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

    <fds-accordion heading="Variant" content-id="acce08132" variant-text="Succes" variant-icon="success">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

    <fds-accordion heading="Variant" content-id="acce08133" variant-text="Advarsel" variant-icon="warning">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

    <fds-accordion heading="Variant" content-id="acce08134" variant-text="Fejl" variant-icon="error" has-error="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </fds-accordion>

</fds-accordion-group>