<fds-textarea show-required-status>
    <label>Obligatorisk tekstområde</label>
    <textarea id="input-textarea1" name="input-textarea" rows="5" required></textarea>
</fds-textarea>

<fds-textarea show-required-status>
    <label>Frivillig tekstområde</label>
    <textarea id="input-textarea2" name="input-textarea" rows="5"></textarea>
</fds-textarea>

<fds-textarea show-required-status="required">
    <label>Frivillig tekstområde</label>
    <textarea id="input-textarea3" name="input-textarea" rows="5" required></textarea>
</fds-textarea>

<fds-textarea show-required-status="optional">
    <label>Frivillig tekstområde</label>
    <textarea id="input-textarea4" name="input-textarea" rows="5"></textarea>
</fds-textarea>

