<fds-checkbox show-required-status>
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-required" required>
    <label>Tjekbox label</label>
</fds-checkbox>

<fds-checkbox show-required-status>
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-optional">
    <label>Tjekbox label</label>
</fds-checkbox>

<fds-checkbox show-required-status="Custom required label">
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-required1" required>
    <label>Tjekbox label</label>
</fds-checkbox>

<fds-checkbox show-required-status="Custom frivilligt label">
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-optional1">
    <label>Tjekbox label</label>
</fds-checkbox>