<fds-tabs>
    <fds-tab tab-key="1">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#calculator"></use></svg><span>Faneblad 1</span>
    </fds-tab>
    <fds-tab tab-key="2">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#feedback"></use></svg><span>Faneblad 2</span>
    </fds-tab>
    <fds-tab tab-key="3">
        <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#settings"></use></svg><span>Faneblad 3</span>
    </fds-tab>

    <fds-tab-panel tab-key="1"><p>Indhold i første faneblad</p></fds-tab-panel>
    <fds-tab-panel tab-key="2"><p>Indhold i andet faneblad</p></fds-tab-panel>
    <fds-tab-panel tab-key="3"><p>Indhold i tredje faneblad</p></fds-tab-panel>
</fds-tabs>