<fds-checkbox checkbox-required>
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-required">
    <label>Tjekbox label</label>
</fds-checkbox>

<fds-checkbox checkbox-optional>
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-optional">
    <label>Tjekbox label</label>
</fds-checkbox>

<fds-checkbox checkbox-required="Custom required label">
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-required1">
    <label>Tjekbox label</label>
</fds-checkbox>

<fds-checkbox checkbox-optional="Custom optional label">
    <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-optional1">
    <label>Tjekbox label</label>
</fds-checkbox>