<fds-date-input label="Indtast dato" input-required input-indicator>
    <div class="form-group form-group-day" data-attribute="day">
        <label>Dag</label>
        <input type="number" name="day" id="dat-day-1751c6c4">
    </div>
    <div class="form-group form-group-month" data-attribute="month">
        <label>Måned</label>
        <input type="number" name="month" id="dat-month-a76c9d44">
    </div>
    <div class="form-group form-group-year" data-attribute="year">
        <label>År</label>
        <input type="number" name="year" id="dat-year-400a32d5">
    </div>
</fds-date-input>

<fds-date-input label="Indtast dato" input-indicator>
    <div class="form-group form-group-day" data-attribute="day">
        <label>Dag</label>
        <input type="number" name="day" id="dat-day-7bfcd04c">
    </div>
    <div class="form-group form-group-month" data-attribute="month">
        <label>Måned</label>
        <input type="number" name="month" id="dat-month-1035758b">
    </div>
    <div class="form-group form-group-year" data-attribute="year">
        <label>År</label>
        <input type="number" name="year" id="dat-year-d522cdfd">
    </div>
</fds-date-input>

<fds-date-input label="Indtast dato" input-required input-indicator="required">
    <div class="form-group form-group-day" data-attribute="day">
        <label>Dag</label>
        <input type="number" name="day" id="dat-day-97d3901c">
    </div>
    <div class="form-group form-group-month" data-attribute="month">
        <label>Måned</label>
        <input type="number" name="month" id="dat-month-d9ae2be8">
    </div>
    <div class="form-group form-group-year" data-attribute="year">
        <label>År</label>
        <input type="number" name="year" id="dat-year-1368cd98">
    </div>
</fds-date-input>

<fds-date-input label="Indtast dato" input-indicator="optional">
    <div class="form-group form-group-day" data-attribute="day">
        <label>Dag</label>
        <input type="number" name="day" id="dat-day-3a92750e">
    </div>
    <div class="form-group form-group-month" data-attribute="month">
        <label>Måned</label>
        <input type="number" name="month" id="dat-month-dca46fa3">
    </div>
    <div class="form-group form-group-year" data-attribute="year">
        <label>År</label>
        <input type="number" name="year" id="dat-year-54516da7">
    </div>
</fds-date-input>