<fds-input-wrapper input-required>
    <label class="form-label" for="input-wrapper-mandatory1">Label</label>
    <input type="text" id="input-wrapper-mandatory1" name="input-wrapper-mandatory1" class="form-input">
</fds-input-wrapper>

<fds-input-wrapper input-optional>
    <label class="form-label" for="input-wrapper-optional1">Label</label>
    <input type="text" id="input-wrapper-optional1" name="input-wrapper-optional1" class="form-input">
</fds-input-wrapper>

<fds-input-wrapper input-required="Custom required label">
    <label class="form-label" for="input-wrapper-mandatory2">Label</label>
    <input type="text" id="input-wrapper-mandatory2" name="input-wrapper-mandatory2" class="form-input">
</fds-input-wrapper>

<fds-input-wrapper input-optional="Custom optional label">
    <label class="form-label" for="input-wrapper-optional2">Label</label>
    <input type="text" id="input-wrapper-optional2" name="input-wrapper-optional2" class="form-input">
</fds-input-wrapper>