<div class="d-flex">
    <fds-date-picker class="mr-4">
        <label>Startdato</label>
        <input type="text" name="input-text" id="ce-datepicker-example-startdate">
        <fds-date-picker-grid id="startdate-date-picker" start-date-id="start-end-example1"></fds-date-picker-grid>
    </fds-date-picker>
    <fds-date-picker class="mt-0">
        <label>Slutdato</label>
        <input type="text" name="input-text" id="ce-datepicker-example-enddate">
        <fds-date-picker-grid id="enddate-date-picker" end-date-id="start-end-example1"></fds-date-picker-grid>
    </fds-date-picker>
</div>