<fds-accordion heading="Dette er en accordion">
    <p>Her er en paragraf inde i accordionen.</p>
</fds-accordion>

<fds-accordion heading="Dette er endnu en accordion" expanded="false">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
</fds-accordion>

<fds-accordion heading="Dette er endnu en accordion" expanded="true" content-id="custom-ID">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
</fds-accordion>