<fds-date-input label="Indtast dato">
    <div class="form-group form-group-day" data-attribute="day">
        <label>Dag</label>
        <input type="number" name="day" id="dat-day-450e93ab">
    </div>
    <div class="form-group form-group-month" data-attribute="month">
        <label>Måned</label>
        <input type="number" name="month" id="dat-month-bc1fc9e8">
    </div>
    <div class="form-group form-group-year" data-attribute="year">
        <label>År</label>
        <input type="number" name="year" id="dat-year-4783fc19">
    </div>
    <fds-error-message id="errore8d9ef0e">Der er sket en general fejl</fds-error-message>
</fds-date-input>

<fds-date-input label="Indtast dato">
    <div class="form-group form-group-day" data-attribute="day">
        <label>Dag</label>
        <input type="number" name="day" id="dat-day-1ab610af">
    </div>
    <div class="form-group form-group-month" data-attribute="month">
        <label>Måned</label>
        <input type="number" name="month" id="dat-month-2b9149d1">
    </div>
    <div class="form-group form-group-year" data-attribute="year">
        <label>År</label>
        <input type="number" name="year" id="dat-year-5572ff30">
    </div>
    <fds-error-message targets="day, year" id="errorcafee2aa">Fejl i dag og årstal</fds-error-message>
</fds-date-input>