<fds-input-wrapper input-prefix="stk.">
    <label class="form-label" for="input-wrapper-antal">Antal styk</label>
    <input type="number" id="input-wrapper-antal" name="input-wrapper-antal" class="form-input input-char-8" value="56" required>
</fds-input-wrapper>

<fds-input-wrapper input-suffix="000 kr.">
    <label class="form-label" for="input-wrapper-pris">Pris i 1000 kr.</label>
    <input type="number" id="input-wrapper-pris" name="input-wrapper-pris" class="form-input input-char-11" value="123" required>
</fds-input-wrapper>

<fds-input-wrapper input-prefix="€">
    <label class="form-label" for="input-wrapper-beloeb">Beløb i €</label>
    <input type="number" id="input-wrapper-beloeb" name="input-wrapper-beloeb" class="form-input input-width-xs" value="1.234" required>
</fds-input-wrapper>