<fds-checkbox-group group-disabled>
    <fds-checkbox>
        <input type="checkbox" name="checkbox-example" value="v1" id="chk68398f14">
        <label>Første tjekboks</label>
    </fds-checkbox>
    <fds-checkbox>
        <input type="checkbox" name="checkbox-example2" value="v2" id="chkdd8a37d7">
        <label>Anden tjekboks</label>
    </fds-checkbox>
    <fds-checkbox>
        <input type="checkbox" name="checkbox-example3" value="v3" id="chk9d53e73a">
        <label>Tredje tjekboks</label>
    </fds-checkbox>
</fds-checkbox-group>