<fds-date-input>
    <fieldset>
        <legend>Indtast dato</legend>
        <div>
            <div data-attribute="day">
                <label>Dag</label>
                <input name="day" id="dat-day-fdfbbdec">
            </div>
            <div data-attribute="month">
                <label>Måned</label>
                <input name="month" id="dat-month-1be579c9">
            </div>
            <div data-attribute="year">
                <label>År</label>
                <input name="year" id="dat-year-f31c34cb">
            </div>
        </div>
    </fieldset>
</fds-date-input>