<fds-select show-required-status>
    <label>Label</label>
    <select name="select6" id="sela8544d97">
        <option value="">Vælg region</option>
        <option value="option1">Mulighed 1</option>
        <option value="option2">Mulighed 2</option>
        <option value="option3">Mulighed 3</option>
    </select>
</fds-select>

<fds-select show-required-status>
    <label>Label</label>
    <select name="select7" required id="sel576ca9da">
        <option value="">Vælg region</option>
        <option value="option1">Mulighed 1</option>
        <option value="option2">Mulighed 2</option>
        <option value="option3">Mulighed 3</option>
    </select>
</fds-select>

<fds-select show-required-status="optional">
    <label>Label</label>
    <select name="select8" id="selc93068ff">
        <option value="">Vælg region</option>
        <option value="option1">Mulighed 1</option>
        <option value="option2">Mulighed 2</option>
        <option value="option3">Mulighed 3</option>
    </select>
</fds-select>

<fds-select show-required-status="required">
    <label>Label</label>
    <select name="select9" required id="seld09c2f5b">
        <option value="">Vælg region</option>
        <option value="option1">Mulighed 1</option>
        <option value="option2">Mulighed 2</option>
        <option value="option3">Mulighed 3</option>
    </select>
</fds-select>