<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter, helptext</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Simpel hjælpetekst</div>
        <div class="col-8"><fds-input label="En label" name="test-name"
                helptext="Dette er en hjælpetekst"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Hjælpetekst og fejlbesked</div>
        <div class="col-8"><fds-input label="En label" name="test-name"
                helptext="Dette er en hjælpetekst" error="Fejlbesked"></fds-input></div>
    </div>
</main>