<header class="header">
    <fds-solution-info>
        <a slot="solution-heading" href="#">Løsningstitel</a>
        <div slot="additional-info" class="d-none d-lg-block">
            <p><strong class="authority-name">Myndighedsnavn</strong></p>
            <p>Support: 12 34 56 78</p>
        </div>
        <fds-modal-opener slot="drawer-opener" class="d-block d-lg-none mobile-menu-opener"
            modal-id="menu1">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"></path>
                </svg><span>Menu</span>
            </button>
        </fds-modal-opener>
    </fds-solution-info>

    <fds-modal variant="drawer" id="menu1" class="d-block d-lg-none" heading="Menu"
        heading-id="top-heading-9fd04505">
        <dialog>
            <div class="scrollable-area">
                <div class="modal-top"></div>

                <fds-solution-info>
                    <div slot="additional-info">
                        <p><strong class="authority-name">Myndighedsnavn</strong></p>
                        <p>Support: 12 34 56 78</p>
                    </div>
                </fds-solution-info>
            </div>
        </dialog>
    </fds-modal>
</header>

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Løsningsinfo</h1>
        </div>
    </div>
</main>