<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Attributter: Label, name</p>
        </div>
        <div class="col-8"><fds-input label="En label" name="input-test"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Attributter: Label, name, inputid</p>
        </div>
        <div class="col-8"><fds-input label="En label" name="input-test"
                inputid="test-id"></fds-input></div>
    </div>
</main>