<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Hjælpetekst</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Hjælpetekst uden indhold eller attributter</h2>
        </div>
        <div class="col-12">
            <fds-help-text></fds-help-text>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Hjælpetekst med indhold uden attributter</h2>
        </div>
        <div class="col-12">
            <fds-help-text>Dette er en hjælpetekst</fds-help-text>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Hjælpetekst med indhold og attributter</h2>
        </div>
        <div class="col-12">
            <fds-help-text help-text-id="custom-help-text-id">Dette er en hjælpetekst med
                id</fds-help-text>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Hjælpetekst med ikke-anbefalet indhold</h2>
        </div>
        <div class="col-12">
            <fds-help-text>
                <span class="d-block">Hjælpetekster bør ikke indeholde links.</span>
                <span>Her er alligevel et link til <a href="/">forsiden</a>.</span>
            </fds-help-text>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Hjælpetekst, hvor span-elementet er lavet på forhånd (uden id)
            </h2>
        </div>
        <div class="col-12">
            <fds-help-text>
                <span class="help-text">Dette er en hjælpetekst, der er lavet på
                    forhånd</span>
            </fds-help-text>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Hjælpetekst, hvor span-elementet er lavet på forhånd (med id)
            </h2>
        </div>
        <div class="col-12">
            <fds-help-text>
                <span class="help-text" id="help-text-test-id-asdf">Dette er en hjælpetekst,
                    der er lavet på forhånd</span>
            </fds-help-text>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Hjælpetekst i wrapper</h2>
        </div>
        <div class="col-12">
            <fds-input-wrapper>
                <label>Inputfelt med label og hjælpetekst</label>
                <fds-help-text>Dette er en hjælpetekst</fds-help-text>
                <input type="text" name="input-text">
            </fds-input-wrapper>
        </div>
    </div>

</main>