<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Faneblade</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Simpel opsætning</h2>
        </div>
        <div class="col-12">
            <fds-tabs>
                <fds-tab tab-key="1">Tab 1</fds-tab>
                <fds-tab tab-key="2">Tab 2</fds-tab>
                <fds-tab tab-key="3">Tab 3</fds-tab>

                <fds-tab-panel tab-key="1">Hello world 1</fds-tab-panel>
                <fds-tab-panel tab-key="2">Hello world 2</fds-tab-panel>
                <fds-tab-panel tab-key="3">Hello world 3</fds-tab-panel>
            </fds-tabs>
        </div>
    </div>

</main>