<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter, tooltip</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Med tooltip</div>
        <div class="col-8"><fds-input label="En label" name="test-name"
                tooltip="Dette er et tooltip"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">Tilføj tooltip manuelt</div>
        <div class="col-8"><fds-input label="En label" name="test-name"></fds-input></div>
    </div>
</main>