<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Mobilmenu</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Simpel mobilmenu</h2>
        </div>
        <div class="col-12">
            <fds-drawer-button drawer="my-menu">
                <button type="button">
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#menu"></use></svg><span>Custom
                        menu</span>
                </button>
            </fds-drawer-button>

            <fds-drawer id="my-menu">
                <div>
                    <h2 id="menu-heading">Menu</h2>
                    <button type="button">Luk</button>
                </div>
                <div>
                    <p>Something</p>
                </div>
            </fds-drawer>
        </div>
    </div>

</main>