<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Fejlopsummering - manual indsættelse fejl</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Ny overskrift</h2>
        </div>
        <div class="col-12">
            <fds-error-summary
                heading="En ny overskrift til fejlopsummering"></fds-error-summary>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Nyt overskriftsniveau</h2>
        </div>
        <div class="col-12">
            <fds-error-summary heading-level="h4"></fds-error-summary>
        </div>
    </div>

</main>