<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">test-date-input-5</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Labels og værdier</p>

            <div class="form-group">
                <fieldset>
                    <legend class="form-label">
                        Indtast en dato
                    </legend>

                    <div class="date-group mt-3">

                        <div class="form-group form-group-day">
                            <label class="form-label" for="date-example-day">Day</label>

                            <input type="number" id="date-example-day" class="form-input"
                                value="23" required>
                        </div>

                        <div class="form-group form-group-month">
                            <label class="form-label" for="date-example-month">Month</label>

                            <input type="number" id="date-example-month" class="form-input"
                                value="04" required>
                        </div>

                        <div class="form-group form-group-year">
                            <label class="form-label" for="date-example-year">Year</label>

                            <input type="number" id="date-example-year" class="form-input"
                                value="2008" required>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset aria-describedby="date-example2-hint ">
                    <legend class="form-label">
                        Indtast en dato
                    </legend>
                    <span class="form-hint" id="date-example2-hint">Tester lange labels på
                        inputfelter</span>

                    <div class="date-group mt-3">

                        <div class="form-group form-group-day">
                            <label class="form-label"
                                for="date-example2-day">Herskaldagenskrives</label>

                            <input type="number" id="date-example2-day" class="form-input"
                                required>
                        </div>

                        <div class="form-group form-group-month">
                            <label class="form-label"
                                for="date-example2-month">Herskalmånedenskrives</label>

                            <input type="number" id="date-example2-month" class="form-input"
                                required>
                        </div>

                        <div class="form-group form-group-year">
                            <label class="form-label"
                                for="date-example2-year">Herskalåretskrives</label>

                            <input type="number" id="date-example2-year" class="form-input"
                                required>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset aria-describedby="date-example3-hint ">
                    <legend class="form-label">
                        Indtast en dato
                    </legend>
                    <span class="form-hint" id="date-example3-hint">Tester lange labels på
                        inputfelter (med hjælpeklasser)</span>

                    <div class="date-group mt-3 d-block d-sm-flex">

                        <div class="form-group form-group-day">
                            <label class="form-label"
                                for="date-example3-day">Herskaldagenskrives</label>

                            <input type="number" id="date-example3-day" class="form-input"
                                required="">
                        </div>

                        <div class="form-group form-group-month mt-3">
                            <label class="form-label"
                                for="date-example3-month">Herskalmånedenskrives</label>

                            <input type="number" id="date-example3-month" class="form-input"
                                required="">
                        </div>

                        <div class="form-group form-group-year mt-3">
                            <label class="form-label"
                                for="date-example3-year">Herskalåretskrives</label>

                            <input type="number" id="date-example3-year" class="form-input"
                                required="">
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</main>