<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Tjek konsol for fejlbesked. Det er ikke tilladt at undlade attributter i
                fds-input.</p>
        </div>
        <div class="col-8"><fds-input></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Tjek konsol for fejlbesked. Det er ikke tilladt at have indhold i fds-input.
            </p>
        </div>
        <div class="col-8"><fds-input label="En label" name="test-input">Test</fds-input>
        </div>
    </div>
</main>