<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Fejlmeddelelser</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Fejl uden input-wrapper</h2>
        </div>
        <div class="col-12">
            <fds-error-message>Dette er en fejl</fds-error-message>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Fejl i input-wrapper</h2>
        </div>
        <div class="col-12">
            <fds-input-wrapper>
                <label>Inputfelt med label</label>
                <fds-error-message>Dette er en fejl</fds-error-message>
                <input type="text" name="input-text">
            </fds-input-wrapper>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">ID og skærmlæsertekst sat som attributter</h2>
        </div>
        <div class="col-12">
            <fds-input-wrapper>
                <label>Inputfelt med label</label>
                <fds-error-message error-message-id="my-custom-error-id" sr-text="Error">Dette
                    er en
                    fejl</fds-error-message>
                <input type="text" name="input-text">
            </fds-input-wrapper>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">HTML genereret på forhånd</h2>
        </div>
        <div class="col-12">
            <fds-input-wrapper>
                <label class="form-label" for="html-generated-example-id">Inputfelt med
                    label</label>
                <fds-error-message>
                    <span class="form-error-message" id="html-generated-example-error-id">
                        <span class="sr-only">Fejl: </span>Dette er en fejl
                    </span>
                </fds-error-message>
                <input type="text" name="input-text" class="form-input"
                    id="html-generated-example-id"
                    aria-describedby="html-generated-example-error-id" aria-invalid="true">
            </fds-input-wrapper>
        </div>
    </div>

</main>