<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">fds-input tests</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-12" id="testarea"></div>
    </div>
    <div class="row mb-9">
        <div class="col-12" id="results"></div>
    </div>
</main>

<script>
    function testNoAttributes() {
        let test = 'No input or label added to DOM when fds-input has no attributes';
        let customEl = document.createElement('fds-input');
        document.getElementById('testarea').appendChild(customEl);
        let result = (document.querySelector('fds-input input') === null && document
            .querySelector('fds-input label') === null);
        document.getElementById('results').innerHTML +=
            `<p class="test-${result}">${test}: ${result}</p>`;
        document.getElementById('testarea').removeChild(customEl);
    }

    function testNoContent() {
        let test = 'Content is removed on element creation';
        let customEl = document.createElement('fds-input');
        customEl.innerHTML = '<em>Content</em>';
        document.getElementById('testarea').appendChild(customEl);
        let result = (document.querySelector('fds-input em') === null);
        document.getElementById('results').innerHTML +=
            `<p class="test-${result}">${test}: ${result}</p>`;
        document.getElementById('testarea').removeChild(customEl);
    }
    window.addEventListener('load', () => {
        testNoAttributes();
        testNoContent();
    });
</script>