<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Tooltip</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Tooltip på knap</h2>
        </div>
        <div class="col-12">
            <fds-tooltip tooltip-text="Dette er et tooltip">
                <button type="button">Knap</button>
            </fds-tooltip>
        </div>
    </div>

</main>