<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Attributter: Label, name</p>
        </div>
        <div class="col-8"><fds-input label="En label" name="input-test"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Attributter: Label, name, inputid</p>
        </div>
        <div class="col-8"><fds-input label="ID er 'test-id'" name="input-test"
                inputid="test-id"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Attributter: Label, name, value</p>
        </div>
        <div class="col-8"><fds-input label="Der står noget i inputfeltet" name="input-test"
                value="Tekst i inputfeltet"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Attributter: Label, name, type</p>
        </div>
        <div class="col-8"><fds-input label="Indtast kodeord" name="input-test"
                type="password"></fds-input></div>
    </div>
    <div class="row mb-9">
        <div class="col-4">
            <p>Attributter: Label, name, type, autocomplete</p>
        </div>
        <div class="col-8"><fds-input label="E-mailadresse" name="input-test" type="email"
                autocomplete="email"></fds-input></div>
    </div>
</main>