<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Fejlopsummering - automatisk opsamling af fejl</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Fejlopsummeringen skal indeholde x fejl i alt</h2>
        </div>
        <div class="col-12">
            <fds-error-summary auto="true"></fds-error-summary>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Synlig fejl uden inputelement</h2>
        </div>
        <div class="col-12">
            <fds-error-message>Dette er en fejl</fds-error-message>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Skjult fejl uden inputelement</h2>
        </div>
        <div class="col-12">
            <fds-error-message hidden>Dette er en skjult fejl</fds-error-message>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Radioknapgruppe med skjult indhold</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="Radio group with hidden content">
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1">
                    <label>Radioknap med skjult fejl</label>
                    <div class="radio-content">
                        <fds-input>
                            <label>Inputfelt med label</label>
                            <input type="text" id="input-wrapper-error" name="input-text">
                            <fds-error-message id="error77d50f36">Feltet er ikke udfyldt</fds-error-message>
                        </fds-input>
                    </div>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2">
                    <label>Normal radioknap</label>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Skjul fejl</h2>
        </div>
        <div class="col-12">
            <button class="button button-primary remove-errors">Skjul alle fejl</button>
        </div>
    </div>

</main>

<script>
    document.querySelector('.remove-errors').addEventListener('click', () => {
        document.querySelectorAll('fds-error-message').forEach(el => el.setAttribute('hidden', ''));
    });
</script>