<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Venstremenu</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Ingen aktiv side</h2>
        </div>
        <div class="col-12 col-lg-3">
            <nav class="fds-side-menu" aria-label="Eksempel på venstremenu med 1 niveau og ingen valgte sider">
                <ul>
                    <li>
                        <a href="#">Side 1</a>
                    </li>
                    <li>
                        <a href="#">Side 2</a>
                    </li>
                    <li>
                        <a href="#">Side 3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Aktiv side</h2>
        </div>
        <div class="col-12 col-lg-3">
            <nav class="fds-side-menu" aria-label="Eksempel på venstremenu med 1 niveau og en valgt side">
                <ul>
                    <li>
                        <a href="#">Side 1</a>
                    </li>
                    <li>
                        <a href="#" aria-current="page">Side 2</a>
                    </li>
                    <li>
                        <a href="#">Side 3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Aktiv side med undersider vist</h2>
        </div>
        <div class="col-12 col-lg-3">
            <nav class="fds-side-menu" aria-label="Eksempel på venstremenu med 1 niveau og en valgt side">
                <ul>
                    <li>
                        <a href="#">Side 1</a>
                    </li>
                    <li>
                        <a href="#" aria-current="page">Side 2</a>
                        <ul>
                            <li>
                                <a href="#">Underside 2.1</a>
                            </li>
                            <li>
                                <a href="#">Underside 2.2</a>
                            </li>
                            <li>
                                <a href="#">Underside 2.3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Side 3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Undermenu</h2>
        </div>
        <div class="col-12 col-lg-3">
            <nav class="fds-side-menu" aria-label="Eksempel på venstremenu med undermenu">
                <ul>
                    <li>
                        <a href="#">Side 1</a>
                        <ul>
                            <li>
                                <a href="#">Underside 1.1</a>
                            </li>
                            <li>
                                <a href="#">Underside 1.2</a>
                            </li>
                            <li>
                                <a href="#" aria-current="page">Underside 1.3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Side 2</a>
                    </li>
                    <li>
                        <a href="#">Side 3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Underundermenu</h2>
        </div>
        <div class="col-12 col-lg-3">
            <nav class="fds-side-menu" aria-label="Eksempel på venstremenu med underundermenu">
                <ul>
                    <li>
                        <a href="#">Side 1</a>
                        <ul>
                            <li>
                                <a href="#">Underside 1.1</a>
                            </li>
                            <li>
                                <a href="#">Underside 1.2</a>
                                <ul>
                                    <li>
                                        <a href="#">Underunderside 1.2.1</a>
                                    </li>
                                    <li>
                                        <a href="#">Underunderside 1.2.2</a>
                                    </li>
                                    <li>
                                        <a href="#" aria-current="page">Underunderside 1.2.3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Underside 1.3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Side 2</a>
                    </li>
                    <li>
                        <a href="#">Side 3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Underundermenu med ekstra information</h2>
        </div>
        <div class="col-12 col-lg-3">
            <nav class="fds-side-menu" aria-label="Eksempel på venstremenu med underundermenu">
                <ul>
                    <li>
                        <a href="#">Side 1
                            <span class="info">Dette er ekstra information til siden i venstremenuen</span>
                        </a>
                        <ul>
                            <li>
                                <a href="#">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris
                                    <span class="info">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Underside 1.2
                                    <span class="info">Dette er ekstra information til siden i venstremenuen</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">Underunderside 1.2.1
                                            <span class="info">Dette er ekstra information til siden i venstremenuen</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris
                                            <span class="info">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-current="page">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris
                                            <span class="info">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Underside 1.3
                                    <span class="info">Dette er ekstra information til siden i venstremenuen</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris
                            <span class="info">LoremipsumdolorsitametconsecteturadipiscingelitVestibulumnecliberoquissapienvehiculaconsequatlaciniaetmauris</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Side 3
                            <span class="info">Dette er ekstra information til siden i venstremenuen</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>