<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Beskeder</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Default</h2>
        </div>
        <div class="col-12">
            <fds-alert>
                <h3 slot="heading">Standardbesked</h3>
                <p slot="content">Indholdet i beskeden</p>
            </fds-alert>
        </div>
    </div>

</main>