<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Inputfelter</h1>
        </div>
    </div>
    <div class="row mb-9">
        <div class="col-4"><p>Label-attribut sat.</p></div>
        <div class="col-8"><fds-input label="En label"></fds-input></div>
    </div>
</main>