<header class="header">
    <fds-solution-info></fds-solution-info>
    <fds-drawer id="menu1" class="d-block d-lg-none">
        <div class="mobile-drawer">
            <fds-solution-info></fds-solution-info>
        </div>
    </fds-drawer>
</header>

<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Løsningsinfo</h1>
        </div>
    </div>
</main>