<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Modal</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Simpel modal</h2>
        </div>
        <div class="col-12">
            <fds-modal-opener dialog-id="simple-modal-example">
                <button class="button button-secondary">Åbn modal</button>
            </fds-modal-opener>
            <dialog id="simple-modal-example">
                <button autofocus>Close</button>
                <p>This is a modal created with &lt;dialog&gt;</p>
            </dialog>
        </div>
    </div>

</main>