<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Faneblade</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Simpel opsætning</h2>
        </div>
        <div class="col-12">
            <fds-tabs>
                <fds-tab tab-key="1">Faneblad 1</fds-tab>
                <fds-tab tab-key="2">Faneblad 2</fds-tab>
                <fds-tab tab-key="3">Faneblad 3</fds-tab>

                <fds-tab-panel tab-key="1">Panel 1</fds-tab-panel>
                <fds-tab-panel tab-key="2">Panel 2</fds-tab-panel>
                <fds-tab-panel tab-key="3">Panel 3</fds-tab-panel>
            </fds-tabs>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Forskelligt indhold</h2>
        </div>
        <div class="col-12">
            <fds-tabs>
                <fds-tab tab-key="1">Faneblad 1</fds-tab>
                <fds-tab tab-key="2">Faneblad 2</fds-tab>
                <fds-tab tab-key="3">Faneblad 3</fds-tab>

                <fds-tab-panel tab-key="1">
                    <div class="alert alert-info">
                        <svg class="icon-svg alert-icon" aria-label="Information" focusable="false"><use href="#info"></use></svg>
                        <div class="alert-body">
                            <h2 class="alert-heading">Dette er titlen</h2>
                            <p class="alert-text">Dette er indholdet i beskeden</p>
                        </div>
                    </div>
                </fds-tab-panel>

                <fds-tab-panel tab-key="2">
                    <p>Praesent consequat erat nec felis semper dignissim.</p>
                </fds-tab-panel>

                <fds-tab-panel tab-key="3">
                    <h2>Heading 2</h2>
                    <p>Content under heading.</p>
                    <div>
                        <p>Paragraph 1 inside a div.</p>
                        <p>Paragraph 2 inside a div.</p>
                    </div>
                </fds-tab-panel>
            </fds-tabs>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Mange faneblade</h2>
        </div>
        <div class="col-12">
            <fds-tabs>
                <fds-tab tab-key="1">Faneblad 1</fds-tab>
                <fds-tab tab-key="2">Faneblad 2</fds-tab>
                <fds-tab tab-key="3">Faneblad 3</fds-tab>
                <fds-tab tab-key="4">Faneblad 4</fds-tab>
                <fds-tab tab-key="5">Faneblad 5</fds-tab>
                <fds-tab tab-key="6">Faneblad 6</fds-tab>
                <fds-tab tab-key="7">Faneblad 7</fds-tab>
                <fds-tab tab-key="8">Faneblad 8</fds-tab>
                <fds-tab tab-key="9">Faneblad 9</fds-tab>

                <fds-tab-panel tab-key="1">Panel 1</fds-tab-panel>
                <fds-tab-panel tab-key="2">Panel 2</fds-tab-panel>
                <fds-tab-panel tab-key="3">Panel 3</fds-tab-panel>
                <fds-tab-panel tab-key="4">Panel 4</fds-tab-panel>
                <fds-tab-panel tab-key="5">Panel 5</fds-tab-panel>
                <fds-tab-panel tab-key="6">Panel 6</fds-tab-panel>
                <fds-tab-panel tab-key="7">Panel 7</fds-tab-panel>
                <fds-tab-panel tab-key="8">Panel 8</fds-tab-panel>
                <fds-tab-panel tab-key="9">Panel 9</fds-tab-panel>
            </fds-tabs>
        </div>
    </div>

</main>