<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Datofelter</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datofelter</h2>
        </div>
        <div class="col-12">
            <fds-date-input legend="Fødselsdato"></fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datofelter (prægenereret HTML)</h2>
        </div>
        <div class="col-12">
            <fds-date-input>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datofelter med hjælpetekst</h2>
        </div>
        <div class="col-12">
            <fds-date-input>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <fds-help-text>Dette er en hjælpetekst</fds-help-text>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datofelter med fejl</h2>
        </div>
        <div class="col-12">
            <fds-date-input>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                    <fds-error-message>Der er sket en fejl</fds-error-message>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datofelter med målrettet fejl</h2>
        </div>
        <div class="col-12">
            <fds-date-input>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                    <fds-error-message targets="day, year">Der er sket en fejl i dag og år</fds-error-message>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Påkrævede datofelter</h2>
        </div>
        <div class="col-12">
            <fds-date-input show-required-status>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day" required>
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Frivillige datofelter</h2>
        </div>
        <div class="col-12">
            <fds-date-input show-required-status>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Disabled datofelter</h2>
        </div>
        <div class="col-12">
            <fds-date-input>
                <fieldset disabled>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Readonly datofelter</h2>
        </div>
        <div class="col-12">
            <fds-date-input input-readonly>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Required datofelter (sat med attribut)</h2>
        </div>
        <div class="col-12">
            <fds-date-input input-required>
                <fieldset>
                    <legend>Indtast dato</legend>
                    <div>
                        <div data-attribute="day">
                            <label>Dag</label>
                            <input name="day">
                        </div>
                        <div data-attribute="month">
                            <label>Måned</label>
                            <input name="month">
                        </div>
                        <div data-attribute="year">
                            <label>År</label>
                            <input name="year">
                        </div>
                    </div>
                </fieldset>
            </fds-date-input>
        </div>
    </div>

</main>