<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Inputfelter</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Wrapper uden indhold</h2>
        </div>
        <div class="col-12">
            <fds-input></fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Wrapper med label og input</h2>
        </div>
        <div class="col-12">
            <fds-input>
                <label>Inputfelt med label</label>
                <input type="text" name="input-text">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Wrapper med label og input - præfabrikeret HTML</h2>
        </div>
        <div class="col-12">
            <fds-input>
                <label class="form-label" for="generated-HTML-plain">Inputfelt med label</label>
                <input type="text" name="input-text" class="form-input" id="generated-HTML-plain">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Påkrævet inputfelt</h2>
        </div>
        <div class="col-12">
            <fds-input show-required-status>
                <label>Label</label>
                <input type="text" name="input-text" required>
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Frivilligt inputfelt</h2>
        </div>
        <div class="col-12">
            <fds-input show-required-status>
                <label>Label</label>
                <input type="text" name="input-text">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">input-readonly</h2>
        </div>
        <div class="col-12">
            <fds-input input-readonly="true">
                <label>Inputfelt med label</label>
                <input type="text" name="input-text">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">input-readonly - præfabrikeret HTML</h2>
        </div>
        <div class="col-12">
            <fds-input>
                <label class="form-label" for="inp3d511bac">Inputfelt med label</label>
                <input type="text" name="input-text" readonly="" class="form-input" id="inp3d511bac">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Disabled inputfelt</h2>
        </div>
        <div class="col-12">
            <fds-input>
                <label>Inputfelt med label</label>
                <input type="text" name="input-text" disabled>
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Prefix og suffix</h2>
        </div>
        <div class="col-12">
            <fds-input input-prefix="Beløb" input-suffix="kr.">
                <label>Skriv et beløb i hele kroner</label>
                <input type="number" name="input-text">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Prefix og suffix - præfabrikeret HTML</h2>
        </div>
        <div class="col-12">
            <fds-input>
                <label class="form-label" for="inpcbd94c56">Skriv et beløb i hele kroner</label>
                <div class="form-input-wrapper form-input-wrapper--prefix form-input-wrapper--suffix">
                    <div class="form-input-prefix" aria-hidden="true">Beløb</div>
                    <input type="number" name="input-text" class="form-input" id="inpcbd94c56">
                    <div class="form-input-suffix" aria-hidden="true">kr.</div>
                </div>
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">input-maxwidth</h2>
        </div>
        <div class="col-12">
            <fds-input input-maxwidth="4">
                <label>Inputfelt med label</label>
                <input type="text" name="input-text">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">input-maxwidth - præfabrikeret HTML</h2>
        </div>
        <div class="col-12">
            <fds-input>
                <label class="form-label" for="inp9a1fb0cc">Inputfelt med label</label>
                <input type="text" name="input-text" class="form-input input-char-4" id="inp9a1fb0cc">
            </fds-input>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Wrapper med label, input og tooltip</h2>
        </div>
        <div class="col-12">
            <fds-input>
                <label>Inputfelt med label</label>
                <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip"
                    data-tooltip-id="input-text-tooltipbutton1" data-position="above" data-trigger="click">
                    <button class="button button-unstyled tooltip-target" type="button" aria-label="Læs mere">
                        <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true">
                            <use href="#help"></use>
                        </svg>
                    </button>
                </span>
                <input type="text" name="input-text">
            </fds-input>
        </div>

        <div class="col-12 mt-5">
            <fds-input>
                <label>Inputfelt med label</label>
                <div class="d-flex align-items-center">
                    <input type="text" name="input-text">
                    <span class="tooltip-wrapper ml-3 mt-3" data-tooltip="Dette er et tooltip"
                        data-tooltip-id="input-text-tooltipbutton2" data-position="above" data-trigger="click">
                        <button class="button button-unstyled tooltip-target" type="button" aria-label="Læs mere">
                            <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true">
                                <use href="#help"></use>
                            </svg>
                        </button>
                    </span>
                </div>
            </fds-input>
        </div>

        <div class="col-12 mt-5">
            <fds-input>
                <label>Inputfelt med label</label>
                <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip"
                    data-tooltip-id="input-text-tooltipbutton3" data-position="above" data-trigger="click">
                    <button class="button button-unstyled tooltip-target" type="button" aria-label="Læs mere">
                        <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true">
                            <use href="#help"></use>
                        </svg>
                    </button>
                </span>
                <fds-help-text>Dette er en hjælpetekst</fds-help-text>
                <input type="text" name="input-text">
            </fds-input>
        </div>
    </div>

</main>