<main class="container page-container" id="main-content">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 mt-0 mb-9">Beskeder</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <fds-alert variant="warning" heading="Beskedens titel" headingtype="h3" closeable>
                Dette er beskedens indhold.
            </fds-alert>
        </div>
    </div>
</main>