<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Beskeder</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Default</h2>
        </div>
        <div class="col-12">
            <fds-alert>
                <h3 slot="heading">Standardbesked</h3>
                <p slot="content">Indholdet i beskeden</p>
            </fds-alert>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Varianter</h2>
        </div>
        <div class="col-12">
            <fds-alert variant="info">
                <h3 slot="heading">Info-variant</h3>
                <p slot="content">Indholdet i beskeden</p>
            </fds-alert>
            <fds-alert variant="success">
                <h3 slot="heading">Succes-variant</h3>
                <p slot="content">Indholdet i beskeden</p>
            </fds-alert>
            <fds-alert variant="warning">
                <h3 slot="heading">Advarsel-variant</h3>
                <p slot="content">Indholdet i beskeden</p>
            </fds-alert>
            <fds-alert variant="error">
                <h3 slot="heading">Fejl-variant</h3>
                <p slot="content">Indholdet i beskeden</p>
            </fds-alert>
            <fds-alert variant="custom">
                <svg slot="icon" class="icon-svg alert-icon" aria-label="Information" focusable="false"><use href="#accessibility-new"></use></svg>
                <h3 slot="heading">Custom variant</h3>
                <p slot="content">Indholdet i beskeden</p>
            </fds-alert>
        </div>
    </div>

</main>