<main class="container page-container" id="main-content">

    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Radioknap</h1>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Simpel radioknapgruppe</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="Simple radio group">
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1">
                    <label>Radio button 1</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2">
                    <label>Radio button 2</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v3">
                    <label>Radio button 3</label>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Radioknapgruppe med hjælpetekst</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="Helptext radio group">
                <fds-help-text>Helptext for the group</fds-help-text>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1">
                    <label>Radio button 1</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2">
                    <label>Radio button 2</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v3">
                    <label>Radio button 3</label>
                    <fds-help-text>Helptext for a single radio button</fds-help-text>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Radioknapgruppe med fejl</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="Error radio group">
                <fds-error-message>Error message</fds-error-message>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1">
                    <label>Radio button 1</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2">
                    <label>Radio button 2</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v3">
                    <label>Radio button 3</label>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Deaktiveret Radioknapgruppe</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="Deactivated radio group" group-disabled>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1">
                    <label>Radio button 1</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2">
                    <label>Radio button 2</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v3">
                    <label>Radio button 3</label>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Radioknapgruppe med skjult indhold</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="Radio group with hidden content">
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1">
                    <label>Show hidden content 1</label>
                    <fds-help-text>An input fiels is shown when this radio button is selected></fds-help-text>
                    <div class="radio-content">
                        <fds-input-wrapper>
                            <label class="form-label">Inside input field</label>
                            <input type="text" name="input-wrapper-help-text" class="form-input">
                        </fds-input-wrapper>
                    </div>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2" >
                    <label>Show long text hidden content 2</label>
                    <div class="radio-content">
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                    </div>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v3" >
                    <label>No hidden content</label>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>
    
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Radioknapgruppe med tooltip</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="New radio group">
                <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip"
                            data-tooltip-id="radiogrsdfoup-tooltip" data-position="above"
                            data-trigger="click"><button class="button button-unstyled tooltip-target"
                                type="button" aria-label="Læs mere">
                                <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use href="#help"></use></svg></button>
                </span>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1">
                    <label>Radio button 1</label>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2" >
                    <label>Radio button 2</label>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>

    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Radioknapgruppe with everything</h2>
        </div>
        <div class="col-12">
            <fds-radio-button-group group-label="New radio group">
                <span class="tooltip-wrapper" data-tooltip="Dette er et tooltip"
                            data-tooltip-id="radiogrsdfoup-tooltip" data-position="above"
                            data-trigger="click"><button class="button button-unstyled tooltip-target"
                                type="button" aria-label="Læs mere">
                                <svg class="icon-svg mr-0 mt-0" focusable="false" aria-hidden="true"><use href="#help"></use></svg></button>
                </span>
                <fds-help-text>Helptext for the group</fds-help-text>
                <fds-error-message>Error message</fds-error-message>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v1" id="some id">
                    <label>Radio button 1</label>
                    <div class="radio-content">
                        <fds-input-wrapper>
                            <label class="form-label">Inside input field</label>
                            <input type="text" name="input-wrapper-help-text" class="form-input" id="inpa866ac0">
                        </fds-input-wrapper>
                    </div>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v2" >
                    <label>Radio button 2</label>
                    <div class="radio-content">
                        <span>Something</span>
                    </div>
                </fds-radio-button>
                <fds-radio-button>
                    <input type="radio" name="radio-example" value="v3" >
                    <label>Radio button 3</label>
                    <fds-help-text>Helptext for the single button</fds-help-text>
                </fds-radio-button>
            </fds-radio-button-group>
        </div>
    </div>

</main>