<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Ny datovælger</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Test datepicker i modal</p>
            <p>Når datepicker er åbn skal øvrigt indhold være inert - tjek om den fjerner inert for modaler ved uheld
            </p>
            <p>Brug aria-modal</p>
            <p>Escape til at lukke dropdown skal ikke lukke datovælger</p>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datovælger uden inputfelt</h2>
        </div>
        <div class="col-12">
            <div class="new-datepicker-wrapper"></div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datovælger med inputfelt</h2>
        </div>
    </div>
</main>