<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Ny datovælger</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Test date picker i modal</p>
            <p>Når date picker er åbn skal øvrigt indhold være inert - tjek om den fjerner inert for modaler ved uheld
            </p>
            <p>Brug aria-modal</p>
            <p>Escape til at lukke dropdown skal ikke lukke datovælger</p>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datovælger med inputfelt</h2>
        </div>
        <div class="col-12">
            <div class="form-group new-date-picker">
                <label class="form-label" for="input-text">Datovælger</label>
                <div class="d-flex pt-3">
                    <input type="text" id="input-text" name="input-text" class="form-input input-width-xs mt-0 mr-2"
                        required>
                    <button class="button button-icon-only" aria-haspopup="dialog">
                        <svg class="icon-svg" focusable="false" aria-hidden="true">
                            <use href="#calendar-month"></use>
                        </svg>
                        <span class="sr-only">Åbn datovælger</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datovælger uden inputfelt</h2>
        </div>
        <div class="col-12">
            <div class="form-group new-date-picker">
                <div class="new-date-picker-wrapper"></div>
            </div>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <h2 class="h3 mt-0">Datovælger uden knap</h2>
        </div>
        <div class="col-12">
            <div class="form-group new-date-picker">
                <label class="form-label" for="input-text-no-button">Datovælger</label>
                <input type="text" id="input-text-no-button" name="input-text-no-button" class="form-input input-width-xs mb-3" required readonly>
                <div class="new-date-picker-wrapper"></div>
            </div>
        </div>
    </div>
</main>