<main class="container page-container" id="main-content">
    <div class="row mb-905">
        <div class="col-12">
            <h1 class="h2 mt-0">Ny datovælger</h1>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <p>Test datepicker i modal</p>
            <p>Når datepicker er åbn skal øvrigt indhold være inert - tjek om den fjerner inert for modaler ved uheld
            </p>
            <p>Brug aria-modal</p>
            <p>Escape til at lukke dropdown skal ikke lukke datovælger</p>
        </div>
    </div>
    <div class="row mb-905">
        <div class="col-12">
            <div class="new-datepicker-wrapper">
                <div class="datepicker-header">
                    <strong class="current-year"></strong>
                    <strong class="current-month"></strong>
                </div>
                <table role="grid" class="new-datepicker-grid">
                    <thead>
                        <tr>
                            <th scope="col"><span aria-hidden="true">Ma</span><span class="sr-only">Mandag</span></th>
                            <th scope="col"><span aria-hidden="true">Ti</span><span class="sr-only">Tirsdag</span></th>
                            <th scope="col"><span aria-hidden="true">On</span><span class="sr-only">Onsdag</span></th>
                            <th scope="col"><span aria-hidden="true">To</span><span class="sr-only">Torsdag</span></th>
                            <th scope="col"><span aria-hidden="true">Fr</span><span class="sr-only">Fredag</span></th>
                            <th scope="col"><span aria-hidden="true">Lø</span><span class="sr-only">Lørdag</span></th>
                            <th scope="col"><span aria-hidden="true">Sø</span><span class="sr-only">Søndag</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>