<span class="hljs-tag">&lt;<span class="hljs-name">fds-accordion</span>
    <span class="hljs-attr">heading</span>=<span class="hljs-string">&quot;Overskrift&quot;</span>
    <span class="hljs-attr">heading-level</span>=<span class="hljs-string">&quot;h3&quot;</span>
    <span class="hljs-attr">expanded</span>=<span class="hljs-string">&quot;true&quot;</span>
    <span class="hljs-attr">content-id</span>=<span class="hljs-string">&quot;accordion-custom-id&quot;</span>
    <span class="hljs-attr">variant-icon</span>=<span class="hljs-string">&quot;warning&quot;</span>
    <span class="hljs-attr">variant-text</span>=<span class="hljs-string">&quot;Advarsel&quot;</span>&gt;</span>
    
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Indhold i accordionen<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-name">fds-accordion</span>&gt;</span>