<span class="hljs-tag">&lt;<span class="hljs-name">fds-alert</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">strong</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">&quot;heading&quot;</span>&gt;</span>Informativ besked - kun overskrift<span class="hljs-tag">&lt;/<span class="hljs-name">strong</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fds-alert</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">fds-alert</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">&quot;content&quot;</span>&gt;</span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fds-alert</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">fds-alert</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;paragraph&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h4</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">&quot;heading&quot;</span>&gt;</span>Informativ besked - tekstafsnit<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">slot</span>=<span class="hljs-string">&quot;content&quot;</span>&gt;</span>Dette eksempel viser, hvordan en besked ser ud, når dens bredde er blevet begrænset. Bredden svarer til længden på en paragraf og denne type beskeder er derfor mere velegnet, hvis du vil vise beskeden midt i en tekst.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fds-alert</span>&gt;</span>