<span class="hljs-tag">&lt;<span class="hljs-name">fds-upload-file</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;upload-file-always-error&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;</span>Alle filer vedhæftet vil få en fejl<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;file&quot;</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;documentation&quot;</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;upload-file-always-error-input&quot;</span> <span class="hljs-attr">multiple</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">fds-upload-file</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="language-javascript">
    <span class="hljs-keyword">const</span> uploadElement = <span class="hljs-variable language_">document</span>.<span class="hljs-title function_">getElementById</span>(<span class="hljs-string">&#39;upload-file-always-error&#39;</span>);

    uploadElement.<span class="hljs-title function_">addEventListener</span>(<span class="hljs-string">&#39;files-added&#39;</span>, <span class="hljs-function">() =&gt;</span> {
        <span class="hljs-keyword">const</span> files = uploadElement.<span class="hljs-title function_">getFiles</span>();
        <span class="hljs-keyword">const</span> lastFile = files[files.<span class="hljs-property">length</span> - <span class="hljs-number">1</span>];
        uploadElement.<span class="hljs-title function_">addError</span>(<span class="hljs-string">&#39;Denne fil har en fejlbesked&#39;</span>, lastFile.<span class="hljs-property">id</span>);
    });
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
