{% from "components/icons/icons--svg.njk" import icon_svg as icon_svg %}

<fds-input-wrapper input-readonly="true">
    <label>Fornavn og efternavn</label>
    <fds-help-text>Data hentet fra CVR.dk</fds-help-text>
    <input type="text" name="navn" value="Keld Hedagaardsen">
</fds-input-wrapper>

<fds-input-wrapper id="hentetnavn-eksempel" input-readonly="true">
    <label for="hentetdata-redigerbar">Fornavn og efternavn</label>
    <fds-help-text>Data hentet fra CVR.dk</fds-help-text>
    <div class="d-block d-sm-flex flex-sm-row align-items-sm-center">
        <input type="text" id="hentetdata-redigerbar" name="navn-redigerbar" value="Keld Hedagaardsen" class="mr-sm-3">
        <button type="button" class="function-link mt-3" id="hentetdata-rediger">
            {{ icon_svg({"name":'edit'})}}Rediger<span class="sr-only"> fornavn og efternavn</span>
        </button>
    </div>
</fds-input-wrapper>
