{% if include.example and include.example != '' %}
<div class="component-preview component-preview-code mt-4 {{ include.classes }} component-code-{{ include.example | slugify }}">
    <div class="component-code">
        <div class="button-copy-container">
            <button class="button button-secondary button-copy">Kopiér kode</button>
        </div>
        {% capture _syntax %}
        {% highlight html %}
        {% include code-examples/{{ include.example }}.html %}
        {% endhighlight %}
        {% endcapture %}{{ _syntax | markdownify }}
    </div>
</div>
{% endif %}
