Denne komponent består af flere Web Components, hvoraf nogle anvender light DOM, og andre anvender shadow DOM. Light DOM-elementer genererer HTML, der kan tilgås ligesom al anden HTML på siden, mens shadow DOM-elementer genererer indkapslet HTML og styling, som ikke bør tilgås. Det fremgår af hvert elements egen sektion herunder, hvilken af de to typer der er tale om.

For light DOM-elementer kan du som udvikler vælge mellem at tage Web Component-koden, hvis du vil lade komponenten generere HTML'en, eller tage versionen med den genererede kode, hvis du har brug for at ændre i HTML'en først. Begge muligheder vises i fanebladene i komponentens eksempler.

Web Components med shadow DOM konfigureres gennem attributter og slots, når komponenten tillader indhold. Slots kan enten være navngivne, dvs. hvor attributten `slot="navn"` skal anvendes på det indhold, der tilføjes til webkomponenten, eller unavngivne.

Læs mere på {% include links/internal-link.html linktext="Web Components i beta-version" %} om komponenternes anvendelse af light DOM og shadow DOM samt vores ønsker til feedback.