<fds-accordion heading="Overskrift" heading-level="h3" expanded="true" content-id="accordion-custom-id" variant-icon="warning" variant-text="Advarsel">
    <h3>
        <button class="accordion-button" type="button" aria-expanded="true" aria-controls="accordion-custom-id">
            <span class="accordion-title">Overskrift</span>
            <span class="accordion-icon">
                <span class="icon_text">Advarsel</span>
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#warning"></use></svg>
            </span>
        </button>
    </h3>
    <div class="accordion-content" aria-hidden="false" id="accordion-custom-id">
        <p>Indhold i accordionen</p>
    </div>
</fds-accordion>