<fds-accordion heading="Overskrift" content-id="accordion-custom-id" variant-icon="warning" variant-text="Advarsel">
    <h3>
        <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-custom-id">
            <span class="accordion-title">Overskrift</span>
            <span class="accordion-icon">
                <span class="icon_text">Advarsel</span>
                <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#warning"></use></svg>
            </span>
        </button>
    </h3>
    <p>Indhold i accordionen</p>
    <div class="accordion-content" aria-hidden="true" id="accordion-custom-id"></div>
</fds-accordion>