<fds-modal-opener dialog-id="simple-cookie-example">
    <button class="button button-secondary" type="button" aria-haspopup="dialog">Vis standard cookiemeddelelse</button>
</fds-modal-opener>
<fds-modal dismissible="false">
    <dialog id="simple-cookie-example" aria-labelledby="simple-cookie-example-heading" closedby="none">
        <form method="dialog">
            <div class="scrollable-area pb-0">
                <img class="cookie-logo" id="simple-cookie-example-logo" src="/assets/img/logo-header-placeholder.png" alt="Logo for myndighed, der står bag selvbetjeningsløsningen" style="max-width: 110px;">
                <h2 class="modal-title" id="simple-cookie-example-heading" tabindex="-1" autofocus="">Denne selvbetjening bruger cookies</h2>
                <p>Vi indsamler statistik ved hjælp af cookies. Alle indsamlede data anonymiseres. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales turpis nec tincidunt dictum. Aliquam hendrerit nunc nec arcu lobortis fringilla. Sed nulla lectus, mollis eget rhoncus sed, porta eu ipsum.</p>
                <p class="mb-0">
                    <a href="#">Læs mere om vores brug af cookies</a>
                </p>
            </div>
            <div class="fixed-area">
                <div class="button-group">
                    <button class="button button-primary" type="submit" value="accept">Accepter cookies</button>
                    <button class="button button-secondary" type="submit" value="reject">Nej til cookies</button>
                </div>
            </div>
        </form>
    </dialog>
</fds-modal>