<fds-accordion heading="Dette er en accordion" content-id="acce01138131">
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accfd107d1b">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="accfd107d1b" aria-hidden="true"></div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accdbd05a70">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="accdbd05a70" aria-hidden="true">Tekst</div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accec9e7d60">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="accec9e7d60" aria-hidden="true">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
                <span class="accordion-title">Dette er en accordion</span>
            </button>
        </h3>
        <div id="acce01138131" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </div>
</fds-accordion>