<fds-textarea>
    <label class="form-label" for="input-textarea-limit">Tekstområde med karakterbegrænsning</label>
    <textarea id="input-textarea-limit" name="input-textarea" rows="5" class="form-input"></textarea>
    <fds-character-limit limit="40" limit-id="lim9ef8bf53v6">
        <span class="sr-only" id="lim9ef8bf53v6">Du kan indtaste op til 40 tegn</span>
        <span class="sr-only" aria-live="polite"></span>
        <span class="visual-message">Du har 40 tegn tilbage</span>
    </fds-character-limit>
</fds-textarea>