<fds-alert>
    <strong slot="heading">Informativ besked - kun overskrift</strong>
</fds-alert>
<fds-alert>
    <p slot="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
</fds-alert>
<fds-alert class="paragraph">
    <h4 slot="heading">Informativ besked - tekstafsnit</h4>
    <p slot="content">Dette eksempel viser, hvordan en besked ser ud, når dens bredde er blevet begrænset. Bredden svarer til længden på en paragraf og denne type beskeder er derfor mere velegnet, hvis du vil vise beskeden midt i en tekst.</p>
</fds-alert>