<fds-checkbox-group group-disabled="">
    <fieldset>
        <legend class="form-label"></legend>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example" value="v1" class="form-checkbox" id="chk7e56199f">
                <label class="form-label" for="chk7e56199f">Første tjekboks</label>
            </div>

        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example2" value="v2" class="form-checkbox" id="chkf614ef57">
                <label class="form-label" for="chkf614ef57">Anden tjekboks</label>
            </div>

        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example3" value="v3" class="form-checkbox" id="chkb78f07b4">
                <label class="form-label" for="chkb78f07b4">Tredje tjekboks</label>
            </div>

        </fds-checkbox>
    </fieldset>



</fds-checkbox-group>