<fds-checkbox-group group-label="Group label">
    <fieldset aria-describedby="errore4ce7ad0">
        <legend class="form-label">Group label</legend>
        <fds-error-message id="errore4ce7ad0">
            <span class="sr-only">Fejl: </span>
            <span class="visible-message">Fejl text</span>
        </fds-error-message>
        <fds-checkbox>
            <input type="checkbox" name="checkbox1-example" value="v1" class="form-checkbox" id="chkaada2e65">
            <label class="form-label" for="chkaada2e65">Første tjekboks</label>
        </fds-checkbox>
        <fds-checkbox>
            <input type="checkbox" name="checkbox2-example" value="v2" class="form-checkbox" id="chk3d3fbf8a">
            <label class="form-label" for="chk3d3fbf8a">Anden tjekboks</label>
        </fds-checkbox>
    </fieldset>



</fds-checkbox-group>