<fds-radio-button-group group-label="Radioknapgruppe med skjult indhold">
    <fieldset aria-labelledby="legafd3dd7a">
        <legend id="legafd3dd7a" class="form-label">Radioknapgruppe med skjult indhold</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" id="radio-button-collapse1" class="form-radio" data-aria-controls="exp6830990d" data-aria-expanded="false">
                <label class="form-label" for="radio-button-collapse1">Vis indhold 1</label>
            </div>
            <div class="radio-content collapsed" id="exp6830990d" aria-hidden="true">
                <fds-input-wrapper>
                    <label class="form-label" for="inp44e9e561">Skjult inputfelt</label>
                    <input type="text" name="input-wrapper-collapse" class="form-input" id="inp44e9e561">
                </fds-input-wrapper>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" id="radio-button-collapse2" class="form-radio" data-aria-controls="exp3c48360c" data-aria-expanded="false">
                <label class="form-label" for="radio-button-collapse2">Vis indhold 2</label>
            </div>
            <div class="radio-content collapsed" id="exp3c48360c" aria-hidden="true">
                <span>Skjult tekst</span>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>