<fds-input-wrapper input-maxwidth="xxs">
    <label class="form-label" for="input-wrapper-text-xxs">Inputfelt med attributten maxwidth="xxs" (8rem)</label>
    <input type="text" id="input-wrapper-text-xxs" name="input-wrapper-text-xxs" class="form-input input-width-xxs">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="xs">
    <label class="form-label" for="input-wrapper-text-xs">Inputfelt med attributten maxwidth="xs" (16rem)</label>
    <input type="text" id="input-wrapper-text-xs" name="input-wrapper-text-xs" class="form-input input-width-xs">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="s">
    <label class="form-label" for="input-wrapper-text-s">Inputfelt med attributten maxwidth="s" (24rem)</label>
    <input type="text" id="input-wrapper-text-s" name="input-wrapper-text-s" class="form-input input-width-s">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="m">
    <label class="form-label" for="input-wrapper-text-m">Inputfelt med attributten maxwidth="m" (32rem)</label>
    <input type="text" id="input-wrapper-text-m" name="input-wrapper-text-m" class="form-input input-width-m">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="l">
    <label class="form-label" for="input-wrapper-text-l">Inputfelt med attributten maxwidth="l" (40rem)</label>
    <input type="text" id="input-wrapper-text-l" name="input-wrapper-text-l" class="form-input input-width-l">
</fds-input-wrapper>

<fds-input-wrapper input-maxwidth="xl">
    <label class="form-label" for="input-wrapper-text-xl">Inputfelt med attributten maxwidth="xl" (48rem)</label>
    <input type="text" id="input-wrapper-text-xl" name="input-wrapper-text-xl" class="form-input input-width-xl">
</fds-input-wrapper>