<fds-input-wrapper>
    <label class="form-label" for="inpa58c745">Inputfelt med karakterbegrænsning</label>
    <input type="text" name="input-wrapper-character-limit" class="form-input" id="inpa58c745" aria-describedby="lim27768bcc">
    <fds-character-limit limit="40">
        <span class="sr-only" id="lim27768bcc">Du kan indtaste op til 40 tegn</span>
        <span class="sr-only" aria-live="polite"></span>
        <span class="visual-message">Du har 40 tegn tilbage</span>
    </fds-character-limit>
</fds-input-wrapper>