<fds-upload-file upload-disabled="" class="fds-upload-file-disabled">
    <label class="fds-upload-label" id="upl615df1ac" for="file-inputa94438b">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-inputa94438b" class="fds-upload-input" disabled="">
        <div class="fds-upload-dropzone-content" id="dropzone-desc22fd05a1">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>