<fds-date-picker>
    <label for="ce-datepicker-example-helptext">Datovælger med hjælpetekst</label>
    <fds-help-text id="help1" class="help-text">Dette er en hjælpetekst</fds-help-text>
    <div class="input-wrapper">
        <input type="text" name="input-text" id="ce-datepicker-example-helptext" aria-describedby="help1">
        <button aria-haspopup="dialog" class="button button-icon-only date-button" aria-label="Åbn datovælger">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#calendar-month"></use></svg>
        </button>
    </div>
    <div class="ce-date-picker d-none" role="dialog" aria-modal="false">
        <fds-date-picker-grid></fds-date-picker-grid>
        <div tabindex="-1">
            <button class="close-button function-link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" class="icon-svg">
                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path>
                </svg>Luk
            </button>
        </div>
    </div>
</fds-date-picker>