<fds-upload-file upload-id="upload-id3" upload-disabled="" class="fds-upload-file-disabled">
    <label class="fds-upload-label" for="upload-id3">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="upload-id3" class="fds-upload-input" disabled="" aria-describedby="dropzone-desc1790be64">
        <div class="fds-upload-dropzone-content" id="dropzone-desc1790be64">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>