<fds-radio-button-group group-label="Simpel radioknapgruppe">
    <fieldset aria-labelledby="legb5e1f263">
        <legend id="legb5e1f263" class="form-label">Simpel radioknapgruppe</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" id="radio-button1-example" class="form-radio">
                <label class="form-label" for="radio-button1-example">Radioknap 1</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" id="radio-button2-example" class="form-radio">
                <label class="form-label" for="radio-button2-example">Radioknap 2</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v3" id="radio-button3-example" class="form-radio">
                <label class="form-label" for="radio-button3-example">Radioknap 3</label>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>