<fds-date-input>
    <fieldset>
        <legend>Indtast dato</legend>
        <div>
            <div data-attribute="day">
                <label for="dat-day-fdfbbdec">Dag</label>
                <input name="day" id="dat-day-fdfbbdec" type="number">
            </div>
            <div data-attribute="month">
                <label for="dat-month-1be579c9">Måned</label>
                <input name="month" id="dat-month-1be579c9" type="number">
            </div>
            <div data-attribute="year">
                <label for="dat-year-f31c34cb">År</label>
                <input name="year" id="dat-year-f31c34cb" type="number">
            </div>
        </div>
    </fieldset>
</fds-date-input>