<fds-date-input label="Indtast dato" input-required="" input-indicator="">
    <fieldset>
        <legend class="form-label">Indtast dato<span class="weight-normal"> (*skal udfyldes)</span>
        </legend>
        <div class="date-group mt-3">
            <div class="form-group form-group-day" data-attribute="day">
                <label class="form-label" for="dat-day-1751c6c4">Dag</label>
                <input type="number" name="day" id="dat-day-1751c6c4" class="form-input" required="">
            </div>
            <div class="form-group form-group-month" data-attribute="month">
                <label class="form-label" for="dat-month-a76c9d44">Måned</label>
                <input type="number" name="month" id="dat-month-a76c9d44" class="form-input" required="">
            </div>
            <div class="form-group form-group-year" data-attribute="year">
                <label class="form-label" for="dat-year-400a32d5">År</label>
                <input type="number" name="year" id="dat-year-400a32d5" class="form-input" required="">
            </div>
        </div>
    </fieldset>
</fds-date-input>
<fds-date-input label="Indtast dato" input-indicator="">
    <fieldset>
        <legend class="form-label">Indtast dato<span class="weight-normal"> (frivilligt)</span>
        </legend>
        <div class="date-group mt-3">
            <div class="form-group form-group-day" data-attribute="day">
                <label class="form-label" for="dat-day-7bfcd04c">Dag</label>
                <input type="number" name="day" id="dat-day-7bfcd04c" class="form-input">
            </div>
            <div class="form-group form-group-month" data-attribute="month">
                <label class="form-label" for="dat-month-1035758b">Måned</label>
                <input type="number" name="month" id="dat-month-1035758b" class="form-input">
            </div>
            <div class="form-group form-group-year" data-attribute="year">
                <label class="form-label" for="dat-year-d522cdfd">År</label>
                <input type="number" name="year" id="dat-year-d522cdfd" class="form-input">
            </div>
        </div>
    </fieldset>
</fds-date-input>
<fds-date-input label="Indtast dato" input-required="" input-indicator="required">
    <fieldset>
        <legend class="form-label">Indtast dato<span class="weight-normal"> (*required)</span>
        </legend>
        <div class="date-group mt-3">
            <div class="form-group form-group-day" data-attribute="day">
                <label class="form-label" for="dat-day-97d3901c">Dag</label>
                <input type="number" name="day" id="dat-day-97d3901c" class="form-input" required="">
            </div>
            <div class="form-group form-group-month" data-attribute="month">
                <label class="form-label" for="dat-month-d9ae2be8">Måned</label>
                <input type="number" name="month" id="dat-month-d9ae2be8" class="form-input" required="">
            </div>
            <div class="form-group form-group-year" data-attribute="year">
                <label class="form-label" for="dat-year-1368cd98">År</label>
                <input type="number" name="year" id="dat-year-1368cd98" class="form-input" required="">
            </div>
        </div>
    </fieldset>
</fds-date-input>
<fds-date-input label="Indtast dato" input-indicator="optional">
    <fieldset>
        <legend class="form-label">Indtast dato<span class="weight-normal"> (optional)</span>
        </legend>
        <div class="date-group mt-3">
            <div class="form-group form-group-day" data-attribute="day">
                <label class="form-label" for="dat-day-3a92750e">Dag</label>
                <input type="number" name="day" id="dat-day-3a92750e" class="form-input">
            </div>
            <div class="form-group form-group-month" data-attribute="month">
                <label class="form-label" for="dat-month-dca46fa3">Måned</label>
                <input type="number" name="month" id="dat-month-dca46fa3" class="form-input">
            </div>
            <div class="form-group form-group-year" data-attribute="year">
                <label class="form-label" for="dat-year-54516da7">År</label>
                <input type="number" name="year" id="dat-year-54516da7" class="form-input">
            </div>
        </div>
    </fieldset>
</fds-date-input>