<fds-date-picker>
    <label for="ce-datepicker-example-helptext">Datovælger med hjælpetekst</label>
    <fds-help-text id="help1" class="help-text">Dette er en hjælpetekst</fds-help-text>
    <div class="input-wrapper">
        <input type="text" name="input-text" id="ce-datepicker-example-helptext" aria-describedby="help1">
        <button aria-haspopup="dialog" class="button button-icon-only date-button" aria-label="Åbn datovælger">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#calendar-month"></use></svg>
        </button>
    </div>
    <div class="ce-date-picker d-none" role="dialog" aria-modal="false">
        <fds-date-picker-grid>
            <div class="grid-container" tabindex="-1">
                <div class="date-picker-header">
                    <span class="sr-only" aria-live="polite"></span>
                    <button class="previous-month" aria-disabled="true">Forrige</button>
                    <select name="month" aria-label="Måned" class="selected-month">
                        <option value="0" disabled="">Januar</option>
                        <option value="1" disabled="">Februar</option>
                        <option value="2">Marts</option>
                        <option value="3">April</option>
                        <option value="4">Maj</option>
                        <option value="5">Juni</option>
                        <option value="6">Juli</option>
                        <option value="7">August</option>
                        <option value="8">September</option>
                        <option value="9">Oktober</option>
                        <option value="10">November</option>
                        <option value="11">December</option>
                    </select>
                    <select name="year" aria-label="År" class="selected-year">
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                        <option value="2035">2035</option>
                        <option value="2036">2036</option>
                    </select>
                    <button class="next-month">Næste</button>
                </div>
                <table role="grid" class="date-picker-grid">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span aria-hidden="true">Ma</span>
                                <span class="sr-only">Mandag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Ti</span>
                                <span class="sr-only">Tirsdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">On</span>
                                <span class="sr-only">Onsdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">To</span>
                                <span class="sr-only">Torsdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Fr</span>
                                <span class="sr-only">Fredag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Lø</span>
                                <span class="sr-only">Lørdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Sø</span>
                                <span class="sr-only">Søndag</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td data-date="2026-03-01" aria-label="1. marts 2026" aria-disabled="true">1</td>
                        </tr>
                        <tr>
                            <td data-date="2026-03-02" aria-label="2. marts 2026" aria-disabled="true">2</td>
                            <td data-date="2026-03-03" aria-label="3. marts 2026" aria-disabled="true">3</td>
                            <td data-date="2026-03-04" aria-label="4. marts 2026" aria-disabled="true">4</td>
                            <td data-date="2026-03-05" aria-label="5. marts 2026" aria-disabled="true">5</td>
                            <td data-date="2026-03-06" aria-label="6. marts 2026" aria-disabled="true">6</td>
                            <td data-date="2026-03-07" aria-label="7. marts 2026" aria-disabled="true">7</td>
                            <td data-date="2026-03-08" aria-label="8. marts 2026" aria-disabled="true">8</td>
                        </tr>
                        <tr>
                            <td data-date="2026-03-09" aria-label="9. marts 2026" aria-disabled="true">9</td>
                            <td data-date="2026-03-10" aria-label="10. marts 2026" aria-disabled="true">10</td>
                            <td data-date="2026-03-11" aria-label="11. marts 2026" aria-disabled="true">11</td>
                            <td data-date="2026-03-12" aria-label="12. marts 2026" aria-disabled="true">12</td>
                            <td data-date="2026-03-13" aria-label="13. marts 2026" aria-disabled="true">13</td>
                            <td data-date="2026-03-14" aria-label="14. marts 2026" aria-disabled="true">14</td>
                            <td data-date="2026-03-15" aria-label="15. marts 2026" aria-disabled="true">15</td>
                        </tr>
                        <tr>
                            <td data-date="2026-03-16" aria-label="16. marts 2026" aria-disabled="true">16</td>
                            <td data-date="2026-03-17" aria-label="17. marts 2026" aria-disabled="true">17</td>
                            <td data-date="2026-03-18" aria-label="18. marts 2026" aria-disabled="true">18</td>
                            <td data-date="2026-03-19" aria-label="19. marts 2026" aria-disabled="true">19</td>
                            <td data-date="2026-03-20" aria-label="20. marts 2026, tidligste valgbare dato" aria-selected="false" tabindex="0">20</td>
                            <td data-date="2026-03-21" aria-label="21. marts 2026" aria-selected="false" tabindex="-1">21</td>
                            <td data-date="2026-03-22" aria-label="22. marts 2026" aria-selected="false" tabindex="-1">22</td>
                        </tr>
                        <tr>
                            <td data-date="2026-03-23" aria-label="23. marts 2026" aria-selected="false" tabindex="-1">23</td>
                            <td data-date="2026-03-24" aria-label="24. marts 2026" aria-selected="false" tabindex="-1">24</td>
                            <td data-date="2026-03-25" aria-label="25. marts 2026" aria-selected="false" tabindex="-1">25</td>
                            <td data-date="2026-03-26" aria-label="26. marts 2026" aria-selected="false" tabindex="-1">26</td>
                            <td data-date="2026-03-27" aria-label="27. marts 2026" aria-selected="false" tabindex="-1">27</td>
                            <td data-date="2026-03-28" aria-label="28. marts 2026" aria-selected="false" tabindex="-1">28</td>
                            <td data-date="2026-03-29" aria-label="29. marts 2026" aria-selected="false" tabindex="-1">29</td>
                        </tr>
                        <tr>
                            <td data-date="2026-03-30" aria-label="30. marts 2026" aria-selected="false" tabindex="-1">30</td>
                            <td data-date="2026-03-31" aria-label="31. marts 2026" aria-selected="false" tabindex="-1">31</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fds-date-picker-grid>
        <div tabindex="-1">
            <button class="close-button">Luk</button>
        </div>
    </div>
</fds-date-picker>