<fds-input show-required-status="">
    <label for="input-wrapper-mandatory1">Label<span class="weight-normal"> (*skal udfyldes)</span>
    </label>
    <input type="text" id="input-wrapper-mandatory1" name="input-wrapper-mandatory1" required="">
</fds-input>
<fds-input show-required-status="">
    <label for="input-wrapper-optional1">Label<span class="weight-normal"> (frivilligt)</span>
    </label>
    <input type="text" id="input-wrapper-optional1" name="input-wrapper-optional1">
</fds-input>
<fds-input show-required-status="Dette felt skal udfyldes">
    <label for="input-wrapper-mandatory2">Label<span class="weight-normal"> (*Dette felt skal udfyldes)</span>
    </label>
    <input type="text" id="input-wrapper-mandatory2" name="input-wrapper-mandatory2" required="">
</fds-input>
<fds-input show-required-status="Ikke nødvendigt">
    <label for="input-wrapper-optional2">Label<span class="weight-normal"> (Ikke nødvendigt)</span>
    </label>
    <input type="text" id="input-wrapper-optional2" name="input-wrapper-optional2">
</fds-input>