<fds-checkbox-group group-label="Group label">
    <fieldset aria-describedby="helpf6a3703d">
        <legend class="form-label">Group label</legend>
        <fds-help-text id="helpf6a3703d" class="help-text">Dette er en hjælpetekst</fds-help-text>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example" value="v1" id="chkfdefc029" class="form-checkbox">
                <label class="form-label" for="chkfdefc029">Første tjekboks</label>
            </div>
        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example2" value="v2" id="chkddba828e" class="form-checkbox">
                <label class="form-label" for="chkddba828e">Anden tjekboks</label>
            </div>
        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example3" value="v3" id="chkd4bab6c" class="form-checkbox">
                <label class="form-label" for="chkd4bab6c">Tredje tjekboks</label>
            </div>
        </fds-checkbox>
    </fieldset>
</fds-checkbox-group>