<fds-date-input label="Indtast dato">
    <fieldset>
        <legend class="form-label">Indtast dato</legend>
        <div class="date-group mt-3">
            <div class="form-group form-group-day" data-attribute="day">
                <label class="form-label" for="dat-day-fdfbbdec">Dag</label>
                <input type="number" name="day" id="dat-day-fdfbbdec" class="form-input">
            </div>
            <div class="form-group form-group-month" data-attribute="month">
                <label class="form-label" for="dat-month-1be579c9">Måned</label>
                <input type="number" name="month" id="dat-month-1be579c9" class="form-input">
            </div>
            <div class="form-group form-group-year" data-attribute="year">
                <label class="form-label" for="dat-year-f31c34cb">År</label>
                <input type="number" name="year" id="dat-year-f31c34cb" class="form-input">
            </div>
        </div>
    </fieldset>
</fds-date-input>