<fds-radio-button-group group-label="Radioknapgruppe med skjult indhold">
    <fieldset aria-labelledby="leg5291af45">
        <legend id="leg5291af45" class="form-label">Radioknapgruppe med skjult indhold</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" id="radio-button-collapse1" class="form-radio" data-aria-controls="expac2000eb" data-aria-expanded="false">
                <label class="form-label" for="radio-button-collapse1">Vis indhold 1</label>
            </div>
            <div class="radio-content collapsed" id="expac2000eb" aria-hidden="true">
                <fds-input-wrapper>
                    <label class="form-label" for="inpb46e9e1a">Skjult inputfelt</label>
                    <input type="text" name="input-wrapper-collapse" class="form-input" id="inpb46e9e1a">
                </fds-input-wrapper>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" id="radio-button-collapse2" class="form-radio" data-aria-controls="expd7ef72f5" data-aria-expanded="false">
                <label class="form-label" for="radio-button-collapse2">Vis indhold 2</label>
            </div>
            <div class="radio-content collapsed" id="expd7ef72f5" aria-hidden="true">
                <span>Skjult tekst</span>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>