<fds-upload-file upload-id="upload-id">
    <label class="fds-upload-label" for="upload-id">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="upload-id" class="fds-upload-input" aria-describedby="dropzone-upload-id">
        <div class="fds-upload-dropzone-content" id="dropzone-upload-id">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>