<div class="row">
    <div class="col-12 col-sm-7 col-md-5" role="group" aria-labelledby="toggle-switch-heading">
        <h2 class="h5 mb-4 mt-0" id="toggle-switch-heading">Indstillinger</h2>
        <fds-toggle-switch label="Vis afsluttede sager" state="on">
            <button type="button" role="switch" aria-checked="true">
                <span>Vis afsluttede sager</span>
            </button>
        </fds-toggle-switch>
        <fds-toggle-switch label="Vis sager ældre end et år" state="off">
            <button type="button" role="switch" aria-checked="false">
                <span>Vis sager ældre end et år</span>
            </button>
        </fds-toggle-switch>
    </div>
</div>