<fds-date-input input-required="" show-required-status="">
    <fieldset>
        <legend>Indtast dato<span class="weight-normal"> (frivilligt)</span>
        </legend>
        <div>
            <div data-attribute="day">
                <label for="dat-day-1751c6c4">Dag</label>
                <input name="day" id="dat-day-1751c6c4" type="number" required="">
            </div>
            <div data-attribute="month">
                <label for="dat-month-a76c9d44">Måned</label>
                <input name="month" id="dat-month-a76c9d44" type="number" required="">
            </div>
            <div data-attribute="year">
                <label for="dat-year-400a32d5">År</label>
                <input name="year" id="dat-year-400a32d5" type="number" required="">
            </div>
        </div>
    </fieldset>
</fds-date-input>
<fds-date-input show-required-status="">
    <fieldset>
        <legend>Indtast dato<span class="weight-normal"> (frivilligt)</span>
        </legend>
        <div>
            <div data-attribute="day">
                <label for="dat-day-7bfcd04c">Dag</label>
                <input name="day" id="dat-day-7bfcd04c" type="number">
            </div>
            <div data-attribute="month">
                <label for="dat-month-1035758b">Måned</label>
                <input name="month" id="dat-month-1035758b" type="number">
            </div>
            <div data-attribute="year">
                <label for="dat-year-d522cdfd">År</label>
                <input name="year" id="dat-year-d522cdfd" type="number">
            </div>
        </div>
    </fieldset>
</fds-date-input>
<fds-date-input input-required="" show-required-status="required">
    <fieldset>
        <legend>Indtast dato<span class="weight-normal"> (required)</span>
        </legend>
        <div>
            <div data-attribute="day">
                <label for="dat-day-97d3901c">Dag</label>
                <input name="day" id="dat-day-97d3901c" type="number" required="">
            </div>
            <div data-attribute="month">
                <label for="dat-month-d9ae2be8">Måned</label>
                <input name="month" id="dat-month-d9ae2be8" type="number" required="">
            </div>
            <div data-attribute="year">
                <label for="dat-year-1368cd98">År</label>
                <input name="year" id="dat-year-1368cd98" type="number" required="">
            </div>
        </div>
    </fieldset>
</fds-date-input>
<fds-date-input show-required-status="optional">
    <fieldset>
        <legend>Indtast dato<span class="weight-normal"> (optional)</span>
        </legend>
        <div>
            <div data-attribute="day">
                <label for="dat-day-3a92750e">Dag</label>
                <input name="day" id="dat-day-3a92750e" type="number">
            </div>
            <div data-attribute="month">
                <label for="dat-month-dca46fa3">Måned</label>
                <input name="month" id="dat-month-dca46fa3" type="number">
            </div>
            <div data-attribute="year">
                <label for="dat-year-54516da7">År</label>
                <input name="year" id="dat-year-54516da7" type="number">
            </div>
        </div>
    </fieldset>
</fds-date-input>