<fds-textarea show-required-status="">
    <label for="input-textarea1">Obligatorisk tekstområde<span class="weight-normal"> (*skal udfyldes)</span>
    </label>
    <textarea id="input-textarea1" name="input-textarea" rows="5" required=""></textarea>
</fds-textarea>
<fds-textarea show-required-status="">
    <label for="input-textarea2">Frivilligt tekstområde<span class="weight-normal"> (frivilligt)</span>
    </label>
    <textarea id="input-textarea2" name="input-textarea" rows="5"></textarea>
</fds-textarea>
<fds-textarea show-required-status="required">
    <label for="input-textarea3">Obligatorisk tekstområde<span class="weight-normal"> (*required)</span>
    </label>
    <textarea id="input-textarea3" name="input-textarea" rows="5" required=""></textarea>
</fds-textarea>
<fds-textarea show-required-status="optional">
    <label for="input-textarea4">Frivilligt tekstområde<span class="weight-normal"> (optional)</span>
    </label>
    <textarea id="input-textarea4" name="input-textarea" rows="5"></textarea>
</fds-textarea>