<fds-radio-button-group group-label="Simpel radioknapgruppe">
    <fieldset>
        <legend id="leg7e8fd81b" class="form-label">Simpel radioknapgruppe</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" class="form-radio" id="rad656c0c89">
                <label class="form-label" for="rad656c0c89">Radioknap 1</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" class="form-radio" id="rad22c6f344">
                <label class="form-label" for="rad22c6f344">Radioknap 2</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v3" class="form-radio" id="rade90ee8fe">
                <label class="form-label" for="rade90ee8fe">Radioknap 3</label>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>