<fds-upload-file>
    <label class="fds-upload-label" id="upl9d62c8c2" for="file-inputd9b05fc4">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-inputd9b05fc4" class="fds-upload-input" aria-describedby="dropzone-desc7a06e3b4">
        <div class="fds-upload-dropzone-content" id="dropzone-desc7a06e3b4">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>