<fds-input-wrapper>
    <label class="form-label" for="inpd417b216">Inputfelt med karakterbegrænsning</label>
    <input type="text" name="input-wrapper-character-limit" class="form-input" id="inpd417b216" aria-describedby="lim1235b03c">
    <fds-character-limit limit="40">
        <span class="sr-only" id="lim1235b03c">Du kan indtaste op til 40 tegn</span>
        <span class="sr-only" aria-live="polite"></span>
        <span class="visual-message">Du har 40 tegn tilbage</span>
    </fds-character-limit>
</fds-input-wrapper>