<fds-checkbox>
    <div class="form-group-checkbox">
        <input type="checkbox" class="form-checkbox" id="chk10884023" data-aria-controls="expcb4dcb8d" data-aria-expanded="false">
        <label class="form-label" for="chk10884023">Vis inputfelt</label>
    </div>

    <div class="checkbox-content collapsed" id="expcb4dcb8d" aria-hidden="true">
        <fds-input-wrapper>
            <label class="form-label" for="inpabc96765">Inputfelt label</label>
            <input type="text" name="input-wrapper-help-text" class="form-input" id="inpabc96765">
        </fds-input-wrapper>
    </div>
</fds-checkbox>