<fds-checkbox-group group-label="Group label">
    <fieldset>
        <legend class="form-label">Group label</legend>
        <fds-help-text class="help-text" id="helpf6a3703d">Dette er en hjælpetekst</fds-help-text>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example" value="v1" class="form-checkbox" id="chkfdefc029">
                <label class="form-label" for="chkfdefc029">Første tjekboks</label>
            </div>
        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example2" value="v2" class="form-checkbox" id="chkddba828e">
                <label class="form-label" for="chkddba828e">Anden tjekboks</label>
            </div>
        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example3" value="v3" class="form-checkbox" id="chkd4bab6c">
                <label class="form-label" for="chkd4bab6c">Tredje tjekboks</label>
            </div>
        </fds-checkbox>
    </fieldset>
</fds-checkbox-group>