<fds-input-wrapper>
    <label class="form-label" for="inpb329a03d">Inputfelt med karakterbegrænsning</label>
    <input type="text" name="input-wrapper-character-limit" class="form-input" id="inpb329a03d" aria-describedby="limc6a2040c">
    <fds-character-limit limit="40">
        <span class="sr-only" id="limc6a2040c">Du kan indtaste op til 40 tegn</span>
        <span class="sr-only" aria-live="polite">Du har 40 tegn tilbage</span>
        <span aria-hidden="true">Du har 40 tegn tilbage</span>
    </fds-character-limit>
</fds-input-wrapper>