<fds-input>
    <label for="input-wrapper-antal">Antal styk</label>
    <fds-input-affix input-prefix="stk.">
        <div class="form-input-prefix" aria-hidden="true">stk.</div>
        <input type="number" id="input-wrapper-antal" name="input-wrapper-antal" class="input-char-8" value="56" required="">
    </fds-input-affix>
</fds-input>
<fds-input>
    <label class="form-label" for="input-wrapper-pris">Pris i 1000 kr.</label>
    <fds-input-affix input-suffix="000 kr.">
        <input type="number" id="input-wrapper-pris" name="input-wrapper-pris" class="input-char-11" value="123" required="">
        <div class="form-input-suffix" aria-hidden="true">000 kr.</div>
    </fds-input-affix>
</fds-input>
<fds-input>
    <label class="form-label" for="input-wrapper-beloeb">Beløb i €</label>
    <fds-input-affix input-prefix="€">
        <div class="form-input-prefix" aria-hidden="true">€</div>
        <input type="number" id="input-wrapper-beloeb" name="input-wrapper-beloeb" class="input-width-xs" value="1.234" required="">
    </fds-input-affix>
</fds-input>