<fds-checkbox-group group-label="Group label">
    <fieldset aria-describedby="error7c2ef62e">
        <legend class="form-label">Group label</legend>
        <fds-error-message id="error7c2ef62e">
            <span class="sr-only">Fejl: </span>
            <span class="visible-message">Fejl text</span>
        </fds-error-message>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox1-example" value="v1" class="form-checkbox" id="chkbc3b6eec">
                <label class="form-label" for="chkbc3b6eec">Første tjekboks</label>
            </div>

        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox2-example" value="v2" class="form-checkbox" id="chke03aadf7">
                <label class="form-label" for="chke03aadf7">Anden tjekboks</label>
            </div>

        </fds-checkbox>
    </fieldset>



</fds-checkbox-group>