<fds-checkbox>
    <div class="form-group-checkbox">
        <input type="checkbox" class="form-checkbox" id="chk646f1e35" data-aria-controls="exp743437b4" data-aria-expanded="false">
        <label class="form-label" for="chk646f1e35">Vis inputfelt</label>
    </div>

    <div class="checkbox-content collapsed" id="exp743437b4" aria-hidden="true">
        <fds-input-wrapper>
            <label class="form-label" for="inp8cdec1cc">Inputfelt label</label>
            <input type="text" name="input-wrapper-help-text" class="form-input" id="inp8cdec1cc">
        </fds-input-wrapper>
    </div>
</fds-checkbox>