<fds-accordion heading="Dette er en accordion" content-id="acce01138131">
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc1df6cea8">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc1df6cea8" aria-hidden="true"></div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc1e80b2f0">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc1e80b2f0" aria-hidden="true">Tekst</div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
            <span class="accordion-title">Dette er en accordion</span>
        </button>
    </h3>
    <div class="accordion-content" id="acce01138131" aria-hidden="true">
        <p>Her er en paragraf inde i accordionen.</p>
    </div>
</fds-accordion>

<fds-accordion>
    <h3>
        <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acc6d809691">
            <span class="accordion-title"></span>
        </button>
    </h3>
    <div class="accordion-content" id="acc6d809691" aria-hidden="true">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="acce01138131">
                <span class="accordion-title">Dette er en accordion</span>
            </button>
        </h3>
        <div id="acce01138131" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </div>
</fds-accordion>