<fds-upload-file>
    <label class="fds-upload-label" id="upl8beca531" for="file-input7f92c6d">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-input7f92c6d" class="fds-upload-input" aria-describedby="dropzone-desca4286658">
        <div class="fds-upload-dropzone-content" id="dropzone-desca4286658">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>