<fds-upload-file>
    <label class="fds-upload-label" id="uplbe95a1c3" for="file-input2e27fb2b">Vedhæft filer</label>
    <fds-help-text class="help-text" id="helpb6ee50ee">Kun PDF filer under 10MB</fds-help-text>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-input2e27fb2b" class="fds-upload-input">
        <div class="fds-upload-dropzone-content" id="dropzone-descbc8a694c">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>