<fds-upload-file>
    <label class="fds-upload-label" id="upl1b66f8d4" for="file-input3f2eccb">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-input3f2eccb" class="fds-upload-input" aria-describedby="dropzone-descf7ef5c9d">
        <div class="fds-upload-dropzone-content" id="dropzone-descf7ef5c9d">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
    <fds-error-message id="error175eb3fe">
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <span class="visible-message">Fejl tekst</span>
    </fds-error-message>
</fds-upload-file>