<fds-radio-button-group group-label="Radioknapgruppe med fejl">
    <fieldset aria-labelledby="leg26ccffd6" aria-describedby="error5340ebab">
        <legend id="leg26ccffd6" class="form-label">Radioknapgruppe med fejl</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" id="radio-button-fejl1" class="form-radio">
                <label class="form-label" for="radio-button-fejl1">Radioknap 1</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" id="radio-button-fejl2" class="form-radio">
                <label class="form-label" for="radio-button-fejl2">Radioknap 2</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v3" id="radio-button-fejl3" class="form-radio">
                <label class="form-label" for="radio-button-fejl3">Radioknap 3</label>
            </div>
        </fds-radio-button>
        <fds-error-message id="error5340ebab">
            <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
            <span class="visible-message">Fejl besked</span>
        </fds-error-message>
    </fieldset>
</fds-radio-button-group>