<fds-date-input label="Indtast dato" input-disabled="">
    <fieldset disabled="">
        <legend class="form-label disabled">Indtast dato</legend>
        <div class="date-group mt-3">
            <div class="form-group form-group-day" data-attribute="day">
                <label class="form-label disabled" for="dat-day-4782dcc3">Dag</label>
                <input type="number" name="day" id="dat-day-4782dcc3" class="form-input">
            </div>
            <div class="form-group form-group-month" data-attribute="month">
                <label class="form-label disabled" for="dat-month-6ddc63c0">Måned</label>
                <input type="number" name="month" id="dat-month-6ddc63c0" class="form-input">
            </div>
            <div class="form-group form-group-year" data-attribute="year">
                <label class="form-label disabled" for="dat-year-b579da81">År</label>
                <input type="number" name="year" id="dat-year-b579da81" class="form-input">
            </div>
        </div>
    </fieldset>
</fds-date-input>