<fds-input-wrapper input-indicator="">
    <label class="form-label" for="input-wrapper-mandatory1">Label<span class="weight-normal"> (*skal udfyldes)</span>
    </label>
    <input type="text" id="input-wrapper-mandatory1" name="input-wrapper-mandatory1" required="" class="form-input">
</fds-input-wrapper>
<fds-input-wrapper input-indicator="">
    <label class="form-label" for="input-wrapper-optional1">Label<span class="weight-normal"> (frivilligt)</span>
    </label>
    <input type="text" id="input-wrapper-optional1" name="input-wrapper-optional1" class="form-input">
</fds-input-wrapper>
<fds-input-wrapper input-indicator="Custom required label">
    <label class="form-label" for="input-wrapper-mandatory2">Label<span class="weight-normal"> (*Custom required label)</span>
    </label>
    <input type="text" id="input-wrapper-mandatory2" name="input-wrapper-mandatory2" required="" class="form-input">
</fds-input-wrapper>
<fds-input-wrapper input-indicator="Custom optional label">
    <label class="form-label" for="input-wrapper-optional2">Label<span class="weight-normal"> (Custom optional label)</span>
    </label>
    <input type="text" id="input-wrapper-optional2" name="input-wrapper-optional2" class="form-input">
</fds-input-wrapper>