<fds-checkbox>
    <input type="checkbox" class="form-checkbox" id="chk51fd7c8e" data-aria-controls="exp6579b47b" data-aria-expanded="false">
    <label class="form-label" for="chk51fd7c8e">Vis inputfelt</label>
    <div class="checkbox-content collapsed" id="exp6579b47b" aria-hidden="true">
        <fds-input-wrapper>
            <label class="form-label" for="inp39f72e14">Inputfelt label</label>
            <input type="text" name="input-wrapper-help-text" class="form-input" id="inp39f72e14">
        </fds-input-wrapper>
    </div>
</fds-checkbox>