<fds-checkbox-group group-label="Group label">
    <fieldset aria-describedby="errorca618034">
        <legend class="form-label">Group label</legend><fds-error-message id="errorca618034">
            <span class="sr-only">Fejl: </span>
            <span class="visible-message">Fejl text</span>
        </fds-error-message><fds-checkbox>
            <input type="checkbox" name="checkbox1-example" value="v1" class="form-checkbox" id="chk9b1bd626">
            <label class="form-label" for="chk9b1bd626">Første tjekboks</label>
        </fds-checkbox><fds-checkbox>
            <input type="checkbox" name="checkbox2-example" value="v2" class="form-checkbox" id="chke97ba421">
            <label class="form-label" for="chke97ba421">Anden tjekboks</label>
        </fds-checkbox>
    </fieldset>



</fds-checkbox-group>