<div class="header">
    <fds-portal-info>
        <a slot="logo" href="#" target="_blank">
            <img id="example-header-logo" src="/assets/img/logo_virk.svg" alt="Portalnavn">
        </a>
        <fds-drawer-button slot="drawer-button" drawer="drawer-example-default" class="d-block d-lg-none">
            <button type="button" aria-haspopup="dialog">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"></path>
                </svg>
                <span>Menu</span>
            </button>
        </fds-drawer-button>
        <button slot="log-off-button">
            <svg class="icon-svg" focusable="false" aria-hidden="true">
                <use href="#lock"></use>
            </svg>Log af
        </button>
        <p slot="user">Anders Andersen, Forsikringens Forsikringsfirma</p>
    </fds-portal-info>
    <fds-solution-info>
        <a slot="solution-heading" href="javascript:void(0);">Løsningstitel</a>
        <p slot="additional-info" class="d-none d-lg-block">
            <strong class="authority-name">Myndighedsnavn</strong>
            <span>Support: 12 34 56 78</span>
        </p>
    </fds-solution-info>
    <fds-main-menu>
        <div class="main-menu-inner d-block d-lg-flex">
            <nav aria-label="Eksemplets hovedmenu" class="d-none d-lg-block">
                <ul>
                    <li>
                        <fds-dropdown-menu expanded="false">
                            <button data-menu-item="" class="dropdown-button" aria-expanded="false">
                                <span>Første menupunkt<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg collapsed-icon">
                                        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg expanded-icon">
                                        <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"></path>
                                    </svg>
                                </span>
                            </button>
                            <div class="dropdown-menu collapsed" tabindex="-1">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </fds-dropdown-menu>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-menu-item="">
                            <span>Andet menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <fds-dropdown-menu expanded="false">
                            <button data-menu-item="" class="dropdown-button" aria-expanded="false">
                                <span>Tredje menupunkt<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg collapsed-icon">
                                        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg expanded-icon">
                                        <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"></path>
                                    </svg>
                                </span>
                            </button>
                            <div class="dropdown-menu collapsed" tabindex="-1">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" aria-current="page" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </fds-dropdown-menu>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-menu-item="">
                            <span>Fjerde menupunkt</span>
                        </a>
                    </li>
                    <li>
                        <fds-dropdown-menu expanded="false">
                            <button data-menu-item="" class="dropdown-button" aria-expanded="false">
                                <span>Femte menupunkt<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg collapsed-icon">
                                        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg expanded-icon">
                                        <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"></path>
                                    </svg>
                                </span>
                            </button>
                            <div class="dropdown-menu collapsed" tabindex="-1">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-menu-item="">
                                            <span>Undermenu</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </fds-dropdown-menu>
                    </li>
                    <li class="more-button" data-hidden="">
                        <fds-dropdown-menu expanded="false">
                            <button data-menu-item="" class="dropdown-button" aria-expanded="false">
                                <span>Mere<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg collapsed-icon">
                                        <path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg expanded-icon">
                                        <path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"></path>
                                    </svg>
                                </span>
                            </button>
                            <div class="dropdown-menu collapsed" tabindex="-1">
                                <ul></ul>
                            </div>
                        </fds-dropdown-menu>
                    </li>
                </ul>
            </nav>
            <div class="search-form">
                <div class="form-group search">
                    <input class="form-input" id="header-search" name="header-search" type="search" aria-label="Søg efter indhold">
                    <button class="button button-search">Søg</button>
                </div>
            </div>
        </div>
    </fds-main-menu>
    <fds-drawer id="drawer-example-default" class="d-block d-lg-none" heading-id="hea28e31cf7">
        <div class="overlay"></div>
        <div class="mobile-drawer" role="dialog" aria-modal="true" aria-labelledby="hea28e31cf7">
            <div class="menu-top">
                <h2 class="menu-heading" id="hea28e31cf7">Menu</h2>
                <button class="function-link button-menu-close" aria-label="Luk menu">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg">
                        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path>
                    </svg>
                    <span>Luk</span>
                </button>
            </div>
            <fds-main-menu>
                <nav aria-label="Eksemplets mobilmenu">
                    <ul>
                        <li>
                            <fds-dropdown-menu expanded="false">
                                <button data-menu-item="" class="dropdown-button" aria-expanded="false">
                                    <span>Første menupunkt<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg collapsed-icon">
                                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg expanded-icon">
                                            <path d="M200-440v-80h560v80H200Z"></path>
                                        </svg>
                                    </span>
                                </button>
                                <div class="dropdown-menu collapsed">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </fds-dropdown-menu>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-menu-item="">
                                <span>Andet menupunkt</span>
                            </a>
                        </li>
                        <li>
                            <fds-dropdown-menu expanded="false">
                                <button data-menu-item="" class="dropdown-button" aria-expanded="false">
                                    <span>Tredje menupunkt<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg collapsed-icon">
                                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg expanded-icon">
                                            <path d="M200-440v-80h560v80H200Z"></path>
                                        </svg>
                                    </span>
                                </button>
                                <div class="dropdown-menu collapsed">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" aria-current="page" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </fds-dropdown-menu>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-menu-item="">
                                <span>Fjerde menupunkt</span>
                            </a>
                        </li>
                        <li>
                            <fds-dropdown-menu expanded="false">
                                <button data-menu-item="" class="dropdown-button" aria-expanded="false">
                                    <span>Femte menupunkt<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg collapsed-icon">
                                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" focusable="false" aria-hidden="true" class="icon-svg expanded-icon">
                                            <path d="M200-440v-80h560v80H200Z"></path>
                                        </svg>
                                    </span>
                                </button>
                                <div class="dropdown-menu collapsed">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-menu-item="">
                                                <span>Undermenu</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </fds-dropdown-menu>
                        </li>
                    </ul>
                </nav>
            </fds-main-menu>
            <fds-solution-info>
                <p slot="additional-info">
                    <strong class="authority-name">Myndighedsnavn</strong>
                    <span>Support: 12 34 56 78</span>
                </p>
            </fds-solution-info>
            <fds-portal-info>
                <button slot="log-off-button">
                    <svg class="icon-svg" focusable="false" aria-hidden="true">
                        <use href="#lock"></use>
                    </svg>Log af
                </button>
                <p slot="user">
                    <span class="mb-3">Anders Andersen</span>
                    <span>Forsikringens Forsikringsfirma</span>
                </p>
            </fds-portal-info>
        </div>
    </fds-drawer>
</div>