<fds-upload-file>
    <label class="fds-upload-label disabled" for="upload-id3">Deaktiveret</label>
    <div class="fds-upload-dropzone">
        <input type="file" name="documentation" id="upload-id3" required="" multiple="" disabled="" class="fds-upload-input" aria-describedby="dropzone-upload-id3">
        <div class="fds-upload-dropzone-content" id="dropzone-upload-id3">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>