<h4>Attributter til <code>&lt;fds-error-message&gt;</code>
</h4>
<div class="table--responsive-scroll">
    <table class="table table--responsive-headers">
        <thead>
            <tr>
                <th>Attribut</th>
                <th>Beskrivelse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>Hvis ikke angivet, genereres der automatisk et id.</td>
            </tr>
            <tr>
                <td>icon-text</td>
                <td>Tilgængelighedsetiket for fejlikonet.</td>
            </tr>
            <tr>
                <td>hidden</td>
                <td>Styrer synligheden af fejlmeddelelsen.</td>
            </tr>
        </tbody>
    </table>
</div>
<h4>Events fra <code>&lt;fds-error-message&gt;</code>
</h4>
<div class="table--responsive-scroll">
    <table class="table table--responsive-headers">
        <thead>
            <tr>
                <th>Event</th>
                <th>Beskrivelse</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>error-message-visibility-changed</td>
                <td>Afsender en hændelse til forælderkomponenter, når synligheden ændres.</td>
            </tr>
            <tr>
                <td>error-message-callback</td>
                <td>Afsender en hændelse til opdatering af forælderkomponenten.</td>
            </tr>
        </tbody>
    </table>
</div>