<fds-checkbox-group group-label="Group label">
    <fieldset aria-describedby="help8b319bfe">
        <legend class="form-label">Group label</legend>
        <fds-help-text>
            <span class="help-text" id="help8b319bfe">Dette er en hjælpetekst</span>
        </fds-help-text>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example" value="v1" class="form-checkbox" id="chk32c4ca1f">
                <label class="form-label" for="chk32c4ca1f">Første tjekboks</label>
            </div>

        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example2" value="v2" class="form-checkbox" id="chk22e0cd7e">
                <label class="form-label" for="chk22e0cd7e">Anden tjekboks</label>
            </div>

        </fds-checkbox>
        <fds-checkbox>
            <div class="form-group-checkbox">
                <input type="checkbox" name="checkbox-example3" value="v3" class="form-checkbox" id="chk62d6caea">
                <label class="form-label" for="chk62d6caea">Tredje tjekboks</label>
            </div>

        </fds-checkbox>
    </fieldset>




</fds-checkbox-group>