<fds-modal-opener dialog-id="simple-modal-example">
    <button class="button button-secondary" aria-haspopup="dialog">Åbn modal</button>
</fds-modal-opener>
<fds-modal>
    <dialog id="simple-modal-example" aria-labelledby="simple-modal-example-heading">
        <div class="scrollable-area">
            <h2 class="modal-title" id="simple-modal-example-heading" tabindex="-1"> Lorem ipsum </h2>
            <fds-modal-closer class="modal-close">
                <button class="function-link" type="button">
                    <svg class="icon-svg" focusable="false" aria-hidden="true">
                        <use href="#close"></use>
                    </svg>Luk
                </button>
            </fds-modal-closer>
            <p class="mt-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales turpis nec tincidunt dictum. Aliquam hendrerit nunc nec arcu lobortis fringilla. Sed nulla lectus, mollis eget rhoncus sed, porta eu ipsum.</p>
            <p>Cras eleifend elementum finibus. Mauris ac magna quis orci dapibus suscipit. Vestibulum accumsan turpis diam, ut pretium quam sollicitudin sed. Pellentesque posuere eget tortor quis imperdiet. Pellentesque gravida, enim vel porttitor sagittis, libero neque efficitur justo, nec gravida orci risus consequat lacus.</p>
            <div class="button-group">
                <fds-modal-closer class="button-wrapper">
                    <button class="button button-primary" type="button">Primær knap</button>
                </fds-modal-closer>
                <fds-modal-closer class="button-wrapper">
                    <button class="button button-secondary" type="button">Sekundær knap</button>
                </fds-modal-closer>
            </div>
        </div>
    </dialog>
</fds-modal>