<fds-checkbox checkbox-indicator="">
    <div class="form-group-checkbox">
        <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-required" required="" class="form-checkbox">
        <label class="form-label" for="custom-element-checkbox-required">Tjekbox label<span class="weight-normal"> (*skal udfyldes)</span>
        </label>
    </div>
</fds-checkbox>
<fds-checkbox checkbox-indicator="">
    <div class="form-group-checkbox">
        <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-optional" class="form-checkbox">
        <label class="form-label" for="custom-element-checkbox-optional">Tjekbox label<span class="weight-normal"> (frivilligt)</span>
        </label>
    </div>
</fds-checkbox>
<fds-checkbox checkbox-indicator="Custom required label">
    <div class="form-group-checkbox">
        <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-required1" required="" class="form-checkbox">
        <label class="form-label" for="custom-element-checkbox-required1">Tjekbox label<span class="weight-normal"> (*Custom required label)</span>
        </label>
    </div>
</fds-checkbox>
<fds-checkbox checkbox-indicator="Custom optional label">
    <div class="form-group-checkbox">
        <input type="checkbox" name="checkbox-required-example1" id="custom-element-checkbox-optional1" class="form-checkbox">
        <label class="form-label" for="custom-element-checkbox-optional1">Tjekbox label<span class="weight-normal"> (Custom optional label)</span>
        </label>
    </div>
</fds-checkbox>