<fds-date-input>
    <fieldset disabled="">
        <legend>Indtast dato</legend>
        <div>
            <div data-attribute="day">
                <label for="dat-day-4782dcc3">Dag</label>
                <input name="day" id="dat-day-4782dcc3" type="number">
            </div>
            <div data-attribute="month">
                <label for="dat-month-6ddc63c0">Måned</label>
                <input name="month" id="dat-month-6ddc63c0" type="number">
            </div>
            <div data-attribute="year">
                <label for="dat-year-b579da81">År</label>
                <input name="year" id="dat-year-b579da81" type="number">
            </div>
        </div>
    </fieldset>
</fds-date-input>