<fds-radio-button-group group-label="Simpel radioknapgruppe">
    <fieldset aria-labelledby="legba099916">
        <legend id="legba099916" class="form-label">Simpel radioknapgruppe</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" class="form-radio" id="rad768eefb4">
                <label class="form-label" for="rad768eefb4">Radioknap 1</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" class="form-radio" id="rad8be869fb">
                <label class="form-label" for="rad8be869fb">Radioknap 2</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v3" class="form-radio" id="rad260f3edf">
                <label class="form-label" for="rad260f3edf">Radioknap 3</label>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>