<fds-upload-file>
    <label class="fds-upload-label" id="uplcb5e27c2" for="file-input2f88dacb">Vedhæft filer</label>
    <fds-help-text class="help-text" id="helpc59ab05c">Kun PDF filer under 10MB</fds-help-text>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-input2f88dacb" class="fds-upload-input" aria-describedby="dropzone-desc55f2c1a1">
        <div class="fds-upload-dropzone-content" id="dropzone-desc55f2c1a1">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
</fds-upload-file>