<fds-date-picker>
    <label for="ce-datepicker-example-defaultdate">Datovælger med default dato</label>
    <div class="input-wrapper">
        <input type="text" name="input-text" id="ce-datepicker-example-defaultdate">
        <button aria-haspopup="dialog" class="button button-icon-only date-button" aria-label="Åbn datovælger">
            <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#calendar-month"></use></svg>
        </button>
    </div>
    <div class="ce-date-picker d-none" role="dialog" aria-modal="false">
        <fds-date-picker-grid default-date="2028-09-05">
            <div class="grid-container" tabindex="-1">
                <div class="date-picker-header">
                    <span class="sr-only" aria-live="polite"></span>
                    <button class="button button-icon-only previous-month">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" class="icon-svg">
                            <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"></path>
                        </svg>
                        <span class="sr-only">Forrige</span>
                    </button>
                    <div class="month-year-wrapper">
                        <select name="month" aria-label="Måned" class="selected-month">
                            <option value="0">Januar</option>
                            <option value="1">Februar</option>
                            <option value="2">Marts</option>
                            <option value="3">April</option>
                            <option value="4">Maj</option>
                            <option value="5">Juni</option>
                            <option value="6">Juli</option>
                            <option value="7">August</option>
                            <option value="8">September</option>
                            <option value="9">Oktober</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                        <select name="year" aria-label="År" class="selected-year">
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                            <option value="2036">2036</option>
                        </select>
                    </div>
                    <button class="button button-icon-only next-month">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" class="icon-svg">
                            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"></path>
                        </svg>
                        <span class="sr-only">Næste</span>
                    </button>
                </div>
                <table role="grid" class="date-picker-grid">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span aria-hidden="true">Ma</span>
                                <span class="sr-only">Mandag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Ti</span>
                                <span class="sr-only">Tirsdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">On</span>
                                <span class="sr-only">Onsdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">To</span>
                                <span class="sr-only">Torsdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Fr</span>
                                <span class="sr-only">Fredag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Lø</span>
                                <span class="sr-only">Lørdag</span>
                            </th>
                            <th scope="col">
                                <span aria-hidden="true">Sø</span>
                                <span class="sr-only">Søndag</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td data-date="2028-09-01" aria-label="1. september 2028" aria-selected="false" tabindex="-1">1</td>
                            <td data-date="2028-09-02" aria-label="2. september 2028" aria-selected="false" tabindex="-1">2</td>
                            <td data-date="2028-09-03" aria-label="3. september 2028" aria-selected="false" tabindex="-1">3</td>
                        </tr>
                        <tr>
                            <td data-date="2028-09-04" aria-label="4. september 2028" aria-selected="false" tabindex="-1">4</td>
                            <td data-date="2028-09-05" aria-label="5. september 2028" aria-selected="false" tabindex="0">5</td>
                            <td data-date="2028-09-06" aria-label="6. september 2028" aria-selected="false" tabindex="-1">6</td>
                            <td data-date="2028-09-07" aria-label="7. september 2028" aria-selected="false" tabindex="-1">7</td>
                            <td data-date="2028-09-08" aria-label="8. september 2028" aria-selected="false" tabindex="-1">8</td>
                            <td data-date="2028-09-09" aria-label="9. september 2028" aria-selected="false" tabindex="-1">9</td>
                            <td data-date="2028-09-10" aria-label="10. september 2028" aria-selected="false" tabindex="-1">10</td>
                        </tr>
                        <tr>
                            <td data-date="2028-09-11" aria-label="11. september 2028" aria-selected="false" tabindex="-1">11</td>
                            <td data-date="2028-09-12" aria-label="12. september 2028" aria-selected="false" tabindex="-1">12</td>
                            <td data-date="2028-09-13" aria-label="13. september 2028" aria-selected="false" tabindex="-1">13</td>
                            <td data-date="2028-09-14" aria-label="14. september 2028" aria-selected="false" tabindex="-1">14</td>
                            <td data-date="2028-09-15" aria-label="15. september 2028" aria-selected="false" tabindex="-1">15</td>
                            <td data-date="2028-09-16" aria-label="16. september 2028" aria-selected="false" tabindex="-1">16</td>
                            <td data-date="2028-09-17" aria-label="17. september 2028" aria-selected="false" tabindex="-1">17</td>
                        </tr>
                        <tr>
                            <td data-date="2028-09-18" aria-label="18. september 2028" aria-selected="false" tabindex="-1">18</td>
                            <td data-date="2028-09-19" aria-label="19. september 2028" aria-selected="false" tabindex="-1">19</td>
                            <td data-date="2028-09-20" aria-label="20. september 2028" aria-selected="false" tabindex="-1">20</td>
                            <td data-date="2028-09-21" aria-label="21. september 2028" aria-selected="false" tabindex="-1">21</td>
                            <td data-date="2028-09-22" aria-label="22. september 2028" aria-selected="false" tabindex="-1">22</td>
                            <td data-date="2028-09-23" aria-label="23. september 2028" aria-selected="false" tabindex="-1">23</td>
                            <td data-date="2028-09-24" aria-label="24. september 2028" aria-selected="false" tabindex="-1">24</td>
                        </tr>
                        <tr>
                            <td data-date="2028-09-25" aria-label="25. september 2028" aria-selected="false" tabindex="-1">25</td>
                            <td data-date="2028-09-26" aria-label="26. september 2028" aria-selected="false" tabindex="-1">26</td>
                            <td data-date="2028-09-27" aria-label="27. september 2028" aria-selected="false" tabindex="-1">27</td>
                            <td data-date="2028-09-28" aria-label="28. september 2028" aria-selected="false" tabindex="-1">28</td>
                            <td data-date="2028-09-29" aria-label="29. september 2028" aria-selected="false" tabindex="-1">29</td>
                            <td data-date="2028-09-30" aria-label="30. september 2028" aria-selected="false" tabindex="-1">30</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fds-date-picker-grid>
        <div tabindex="-1">
            <button class="close-button function-link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" class="icon-svg">
                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path>
                </svg>Luk
            </button>
        </div>
    </div>
</fds-date-picker>