<fds-accordion-group has-bulk-button="">
    <button class="bulk-button">Åbn alle</button>
    <fds-accordion heading="Accordion 1" content-id="accordion-1">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accordion-1">
                <span class="accordion-title">Accordion 1</span>
            </button>
        </h3>
        <div class="accordion-content" id="accordion-1" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Accordion 2" content-id="accordion-2">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accordion-2">
                <span class="accordion-title">Accordion 2</span>
            </button>
        </h3>
        <div class="accordion-content" id="accordion-2" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Accordion 3" content-id="accordion-3">
        <h3>
            <button class="accordion-button" aria-expanded="false" type="button" aria-controls="accordion-3">
                <span class="accordion-title">Accordion 3</span>
            </button>
        </h3>
        <div class="accordion-content" id="accordion-3" aria-hidden="true">
            <p>Her er en paragraf inde i accordionen.</p>
        </div>
    </fds-accordion>
</fds-accordion-group>