<fds-accordion-group has-bulk-button="" heading-level="h4">
    <button class="bulk-button">Åbn alle</button>
    <fds-accordion heading="Lorem ipsum dolor sit amet" content-id="accordion-group-1" heading-level="h4">
        <h4>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-group-1">
                <span class="accordion-title">Lorem ipsum dolor sit amet</span>
            </button>
        </h4>
        <div class="accordion-content" aria-hidden="true" id="accordion-group-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Consectetur adipiscing elit" content-id="accordion-group-2" heading-level="h4">
        <h4>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-group-2">
                <span class="accordion-title">Consectetur adipiscing elit</span>
            </button>
        </h4>
        <div class="accordion-content" aria-hidden="true" id="accordion-group-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Sed do eiusmod tempor" content-id="accordion-group-3" heading-level="h4">
        <h4>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-group-3">
                <span class="accordion-title">Sed do eiusmod tempor</span>
            </button>
        </h4>
        <div class="accordion-content" aria-hidden="true" id="accordion-group-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Labore et dolore magna" content-id="accordion-group-4" heading-level="h4">
        <h4>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-group-4">
                <span class="accordion-title">Labore et dolore magna</span>
            </button>
        </h4>
        <div class="accordion-content" aria-hidden="true" id="accordion-group-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
</fds-accordion-group>