<fds-radio-button-group group-label="Simpel radioknapgruppe">
    <fieldset aria-labelledby="leg9cd279c9">
        <legend id="leg9cd279c9" class="form-label">Simpel radioknapgruppe</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" class="form-radio" id="radbb3e87da">
                <label class="form-label" for="radbb3e87da">Radioknap 1</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" class="form-radio" id="radf9f9c20f">
                <label class="form-label" for="radf9f9c20f">Radioknap 2</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v3" class="form-radio" id="rad221ba60a">
                <label class="form-label" for="rad221ba60a">Radioknap 3</label>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>