<fds-upload-file>
    <label class="fds-upload-label" id="uplc365237c" for="file-input3fcc9ceb">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-input3fcc9ceb" class="fds-upload-input">
        <div class="fds-upload-dropzone-content" id="dropzone-desc3e3e66b6">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
    <fds-error-message id="error2331ce90">
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <span class="visible-message">Fejl tekst</span>
    </fds-error-message>
</fds-upload-file>