<fds-radio-button-group group-label="Radioknapgruppe med skjult indhold">
    <fieldset>
        <legend class="form-label">Radioknapgruppe med skjult indhold</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" id="radio-button-collapse1" class="form-radio" data-aria-controls="exp273864d6" data-aria-expanded="false">
                <label class="form-label" for="radio-button-collapse1">Vis indhold 1</label>
            </div>
            <div class="radio-content collapsed" id="exp273864d6" aria-hidden="true">
                <fds-input-wrapper>
                    <label class="form-label" for="inpac3def7f">Skjult inputfelt</label>
                    <input type="text" name="input-wrapper-collapse" id="inpac3def7f" class="form-input">
                </fds-input-wrapper>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" id="radio-button-collapse2" class="form-radio" data-aria-controls="exp92708b07" data-aria-expanded="false">
                <label class="form-label" for="radio-button-collapse2">Vis indhold 2</label>
            </div>
            <div class="radio-content collapsed" id="exp92708b07" aria-hidden="true">
                <fds-checkbox>
                    <div class="form-group-checkbox">
                        <input type="checkbox" name="checkbox-example" id="checkbox-input-id2" class="form-checkbox">
                        <label class="form-label" for="checkbox-input-id2">Tjekbox label</label>
                    </div>
                </fds-checkbox>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>