<fds-input-wrapper>
    <label class="form-label" for="input-wrapper-error">Inputfelt med label</label>
    <input type="text" id="input-wrapper-error" name="input-text" required="" class="form-input" aria-describedby="error77d50f36" aria-invalid="true">
    <fds-error-message id="error77d50f36">
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <span class="visible-message">Feltet er ikke udfyldt</span>
    </fds-error-message>
</fds-input-wrapper>