<fds-upload-file>
    <label class="fds-upload-label" id="upl3aa2d2e1" for="file-input1ebd138b">Vedhæft filer</label>
    <div class="fds-upload-dropzone">
        <input type="file" multiple="" id="file-input1ebd138b" class="fds-upload-input" aria-describedby="dropzone-desced271e3a">
        <div class="fds-upload-dropzone-content" id="dropzone-desced271e3a">
            <svg class="icon-svg" aria-hidden="true"><use href="#plus-circle"></use></svg>
            <p>Træk dine filer herhen eller <span class="fds-upload-choose">vælg filer</span>
            </p>
        </div>
    </div>
    <fds-error-message id="error8e907602">
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <span class="visible-message">Fejl tekst</span>
    </fds-error-message>
</fds-upload-file>