<fds-error-summary heading-id="error-summary-manual-heading">
    <nav aria-labelledby="error-summary-manual-heading">
        <svg aria-label="Fejl" focusable="false">
            <use href="#error"></use>
        </svg>
        <h2 id="error-summary-manual-heading">Der er problemer</h2>
        <ul>
            <li data-error-id="error77d50f12">
                <a href="#input-wrapper-fornavn" class="function-link">Fornavn ikke indtastet</a>
            </li>
            <li data-error-id="error77d50f13">
                <a href="#input-wrapper-efternavn" class="function-link">Efternavn ikke indtastet</a>
            </li>
        </ul>
    </nav>
</fds-error-summary>