<fds-textarea show-required-status="">
    <label class="form-label" for="input-textarea1">Obligatorisk tekstområde<span class="weight-normal"> (*skal udfyldes)</span>
    </label>
    <textarea id="input-textarea1" name="input-textarea" rows="5" required="" class="form-input"></textarea>
</fds-textarea>
<fds-textarea show-required-status="">
    <label class="form-label" for="input-textarea2">Frivillig tekstområde<span class="weight-normal"> (frivilligt)</span>
    </label>
    <textarea id="input-textarea2" name="input-textarea" rows="5" class="form-input"></textarea>
</fds-textarea>
<fds-textarea show-required-status="required">
    <label class="form-label" for="input-textarea3">Frivillig tekstområde<span class="weight-normal"> (*required)</span>
    </label>
    <textarea id="input-textarea3" name="input-textarea" rows="5" required="" class="form-input"></textarea>
</fds-textarea>
<fds-textarea show-required-status="optional">
    <label class="form-label" for="input-textarea4">Frivillig tekstområde<span class="weight-normal"> (optional)</span>
    </label>
    <textarea id="input-textarea4" name="input-textarea" rows="5" class="form-input"></textarea>
</fds-textarea>