<fds-radio-button-group group-label="Simpel radioknapgruppe">
    <fieldset aria-labelledby="legdfc18781" aria-describedby="help8d5c0396">
        <legend id="legdfc18781" class="form-label">Simpel radioknapgruppe</legend>
        <fds-help-text class="help-text" id="help8d5c0396">Hjælpetekst til radioknapgruppen</fds-help-text>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" id="radio-button1-helptext" class="form-radio">
                <label class="form-label" for="radio-button1-helptext">Radioknap 1</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" id="radio-button2-helptext" class="form-radio">
                <label class="form-label" for="radio-button2-helptext">Radioknap 2</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v3" id="radio-button3-helptext" class="form-radio">
                <label class="form-label" for="radio-button3-helptext">Radioknap 3</label>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>