<fds-error-summary auto="true">
    <nav aria-labelledby="error-summary-heading2b94002e">
        <svg aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <h2 id="error-summary-heading2b94002e">Der er problemer</h2>
        <ul>
            <li data-error-id="error77d50f12">
                <a class="function-link" href="#input-wrapper-error1">Fornavn ikke indtastet</a>
            </li>
            <li data-error-id="error77d50f13">
                <a class="function-link" href="#input-wrapper-error2">Efternavn ikke indtastet</a>
            </li>
        </ul>
    </nav>
</fds-error-summary>
<fds-input-wrapper>
    <label class="form-label" for="input-wrapper-error1">Fornavn</label>
    <input type="text" id="input-wrapper-error1" name="input-text1" required="" class="form-input" aria-describedby="error77d50f12" aria-invalid="true">
    <fds-error-message id="error77d50f12">
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <span class="visible-message">Fornavn ikke indtastet</span>
    </fds-error-message>
</fds-input-wrapper>
<fds-input-wrapper>
    <label class="form-label" for="input-wrapper-error2">Efternavn</label>
    <input type="text" id="input-wrapper-error2" name="input-text2" required="" class="form-input" aria-describedby="error77d50f13" aria-invalid="true">
    <fds-error-message id="error77d50f13">
        <svg class="icon-svg alert-icon" aria-label="Fejl" focusable="false"><use href="#error"></use></svg>
        <span class="visible-message">Efternavn ikke indtastet</span>
    </fds-error-message>
</fds-input-wrapper>