<fds-radio-button-group group-label="Deactivated radioknapgruppe" group-disabled="">
    <fieldset disabled="" class="disabled" aria-labelledby="legbac8213d">
        <legend id="legbac8213d" class="form-label">Deactivated radioknapgruppe</legend>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v1" id="radio-button-disabled1" class="form-radio">
                <label class="form-label" for="radio-button-disabled1">Radioknap 1</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v2" id="radio-button-disabled2" class="form-radio">
                <label class="form-label" for="radio-button-disabled2">Radioknap 2</label>
            </div>
        </fds-radio-button>
        <fds-radio-button>
            <div class="form-group-radio">
                <input type="radio" name="radio-example" value="v3" id="radio-button-disabled3" class="form-radio">
                <label class="form-label" for="radio-button-disabled3">Radioknap 3</label>
            </div>
        </fds-radio-button>
    </fieldset>
</fds-radio-button-group>