<fds-accordion-group heading-level="h6">
    <fds-accordion heading="Lorem ipsum dolor sit amet" content-id="accordion-error-1" heading-level="h6">
        <h6>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-error-1">
                <span class="accordion-title">Lorem ipsum dolor sit amet</span>
            </button>
        </h6>
        <div class="accordion-content" aria-hidden="true" id="accordion-error-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Consectetur adipiscing elit" content-id="accordion-error-2" variant-text="Fejl" variant-icon="error" has-error="true" heading-level="h6">
        <h6>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-error-2">
                <span class="accordion-title">Consectetur adipiscing elit</span>
                <span class="accordion-icon">
                    <span class="icon_text">Fejl</span>
                    <svg class="icon-svg" focusable="false" aria-hidden="true"><use href="#error"></use></svg>
                </span>
            </button>
        </h6>
        <div class="accordion-content" aria-hidden="true" id="accordion-error-2">
            <fds-alert variant="error">
                <p slot="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            </fds-alert>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Sed do eiusmod tempor" content-id="accordion-error-3" heading-level="h6">
        <h6>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-error-3">
                <span class="accordion-title">Sed do eiusmod tempor</span>
            </button>
        </h6>
        <div class="accordion-content" aria-hidden="true" id="accordion-error-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
    <fds-accordion heading="Labore et dolore magna" content-id="accordion-error-4" heading-level="h6">
        <h6>
            <button class="accordion-button" type="button" aria-expanded="false" aria-controls="accordion-error-4">
                <span class="accordion-title">Labore et dolore magna</span>
            </button>
        </h6>
        <div class="accordion-content" aria-hidden="true" id="accordion-error-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </fds-accordion>
</fds-accordion-group>